/*
Theme Name: Foxy Moron
Theme URI: http://http://foxy.noesis.tech/
Author: Foxy Moron
Author URI: http://http://foxy.noesis.tech/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: Foxy Moron
*/
/*!
 * normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css
 */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,300i,400,600,700,900");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: 'linottesemibold';
  src: url("./fonts/linotte-semibold-webfont.woff2") format("woff2"), url("./fonts/linotte-semibold-webfont.woff") format("woff"), url("./fonts/linotte-semibold-webfont.ttf") format("truetype"), url("./fonts/linotte-semibold-webfont.svg#linottesemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
  color: #000;
  background: #ffffff;
}

ul {
  padding: 0;
}

a {
  color: #000;
}
a:hover {
  color: #000;
  text-decoration: none;
}
a:focus {
  color: #000;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #000;
}

p {
  font-weight: 300;
}

h1 {
  font-size: 50px;
  font-weight: 500;
}

h2 {
  font-size: 40px;
  font-weight: 500;
}

h3 {
  font-size: 32px;
  font-weight: 500;
}

h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.42;
}

h5 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

h6 {
  font-size: 18px;
  font-weight: 600;
}

.btn {
  border-radius: 0;
}

#page {
  position: relative;
}

#page-overlay {
  text-align: center;
  position: absolute;
  background: #000;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10000;
}
#page-overlay .lds-dual-ring {
  margin-top: 25%;
  display: inline-block;
  width: 64px;
  height: 64px;
}
#page-overlay .lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #3effa2 transparent #3effa2 transparent;
  animation: lds-dual-ring 0.8s linear infinite;
}

.gform_wrapper, .foxy-form-group {
  margin-bottom: 50px;
}
.gform_wrapper input, .gform_wrapper select, .foxy-form-group input, .foxy-form-group select {
  -webkit-appearance: none;
  width: 100%;
  box-shadow: none;
  background: transparent;
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  border-top: 0;
  font-size: 18px;
  font-weight: 300;
  padding: 0 0 10px 10px;
  border-color: #555;
  color: #ffffff;
}
.gform_wrapper input:focus, .gform_wrapper select:focus, .foxy-form-group input:focus, .foxy-form-group select:focus {
  border-color: #555;
  box-shadow: none;
  outline: none;
}
.gform_wrapper select option:disabled, .foxy-form-group select option:disabled {
  color: #000;
  font-weight: bold;
}
.gform_wrapper .form-control:focus, .foxy-form-group .form-control:focus {
  border-color: #555;
  box-shadow: none;
  outline: none;
}

.gform_wrapper .foxy-gravity-form label.gfield_label, .gform_wrapper .foxy-gravity-form label {
  display: none !important;
}
.gform_wrapper .foxy-gravity-form input, .gform_wrapper .foxy-gravity-form select, .gform_wrapper .foxy-gravity-form input.medium {
  border-bottom: 1px solid #555;
  width: 100%;
}
.gform_wrapper .foxy-gravity-form .input-file-style input {
  cursor: pointer;
}
.gform_wrapper .foxy-gravity-form .input-file-style, .gform_wrapper .foxy-gravity-form .input-select-style {
  position: relative;
}
.gform_wrapper .foxy-gravity-form .input-select-style:after {
  content: 'v';
  display: inline-block;
  clear: both;
  position: absolute;
  right: 20px;
  top: 10px;
  color: #555;
  font-size: 14px;
  font-weight: 100;
}
.gform_wrapper .foxy-gravity-form .input-file-style:after {
  content: 'v';
  display: inline-block;
  clear: both;
  position: absolute;
  right: 20px;
  top: 10px;
  transform: rotate(180deg);
  color: #555;
  font-size: 14px;
}
.gform_wrapper .foxy-gravity-form ul li {
  margin-top: 0;
  max-width: 100% !important;
}
.gform_wrapper .gform_footer input[type="image"] {
  height: 20px;
  float: right;
}
.gform_wrapper.gform_validation_error .foxy-gravity-form .validation_error {
  display: none;
}
.gform_wrapper.gform_validation_error .foxy-gravity-form li.gfield.gfield_error {
  padding: 0;
  border: 0;
  background: transparent;
}
.gform_wrapper.gform_validation_error .foxy-gravity-form li.gfield.gfield_error.field_description_below .gfield_description {
  padding-top: 0;
}
.gform_wrapper.gform_validation_error .foxy-gravity-form li.gfield.gfield_error input {
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
.gform_wrapper.gform_validation_error .foxy-gravity-form li.gfield.gfield_error .ginput_container {
  margin-top: 0;
}
.gform_wrapper.gform_validation_error .foxy-gravity-form li.gfield.gfield_error select {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #790000;
}

.parsley-errors-list.filled {
  color: #e40000;
  font-weight: 600;
  padding: 4px 0;
  font-size: 16px;
}

.input-file-style {
  font-weight: 300;
  padding: 0 0 10px 10px;
  color: #999;
  cursor: pointer;
  height: 34px;
}
.input-file-style input[type='file'] {
  display: none;
}
.input-file-style .icon {
  float: right;
  padding-right: 10px;
}

.btn-arrow {
  font-size: 24px;
  background: transparent;
  float: right;
  padding: 0;
}

.section:hover .light {
  display: block;
}

.back-button {
  background: transparent;
  border: 0;
  opacity: 0.5;
}
.back-button:hover {
  opacity: 1;
}
.back-button .fa {
  font-size: 24px;
  font-weight: 100;
}

.navbar-default {
  background-color: transparent;
  border: none;
  margin: 0;
  position: absolute;
  z-index: 1000;
  top: 0;
  width: 100%;
  padding-top: 0;
  padding-bottom: 5px;
}
.navbar-default .top-menu .menu-list {
  display: none;
  width: 730px;
  float: left;
  transition: all 2s linear;
  opacity: 0;
}
@media screen and (max-width: 1024px) {
  .navbar-default .top-menu .menu-list {
    width: 543px;
  }
}
.navbar-default .top-menu .menu-list li {
  float: left;
  list-style-type: none;
  padding: 14px 25px 0;
}
@media screen and (max-width: 767px) {
  .navbar-default .top-menu .menu-list li:first-child {
    margin-top: 60px;
  }
}
@media screen and (max-width: 767px) {
  .navbar-default .top-menu .menu-list li {
    list-style-type: none;
    text-align: center;
    padding: 10px;
    width: 100%;
  }
}
.navbar-default .top-menu .menu-list li a {
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .navbar-default .top-menu .menu-list li a {
    font-size: 150%;
    color: #000000;
    text-decoration: none;
    font-weight: 300;
    width: 100%;
  }
}
.navbar-default .top-menu .menu-list.open-menu {
  opacity: 1;
  display: block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
@media screen and (max-width: 767px) {
  .navbar-default .top-menu .menu-list {
    font-family: inherit;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #ffffff;
    padding: 0;
    margin: 0;
    width: 100% !important;
  }
}
.navbar-default .top-menu .menu {
  position: relative;
  top: 35px;
  width: 25px;
  height: 26px;
  float: left;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .navbar-default .top-menu .menu {
    z-index: 9999;
  }
}
.navbar-default .top-menu .menu.open {
  color: #3effa2;
}
.navbar-default .top-menu .menu.open span {
  background: #3effa2;
}
.navbar-default .top-menu .menu.open span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.navbar-default .top-menu .menu.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.navbar-default .top-menu .menu.open span:nth-child(3) {
  top: 8px;
  width: 100%;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.navbar-default .top-menu .menu span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #000000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.navbar-default .top-menu .menu span:nth-child(1) {
  top: 0px;
}
.navbar-default .top-menu .menu span:nth-child(2) {
  top: 8px;
}
.navbar-default .top-menu .menu span:nth-child(3) {
  top: 16px;
  background: #3effa2;
  width: 50%;
}
.navbar-default .top-menu .menu .menu3 {
  width: 13px;
  background-color: #3effa2;
}
.navbar-default .top-menu .active span {
  background: #fff;
}
.navbar-default .top-menu .foxy-logo {
  padding: 30px 0 0 80px;
}

.text-color-primary {
  color: #3effa2;
}

.text-color-secondary {
  color: #000000;
}

.text-color-tertiary {
  color: #ffffff;
}

.dragscroll::-webkit-scrollbar,
.page-works::-webkit-scrollbar,
.page-works .grid::-webkit-scrollbar {
  display: none;
}

.foxy-logo .light {
  display: none;
  max-width: 105px;
}
.foxy-logo .dark {
  max-width: 105px;
}

.social-icons {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  bottom: 60px;
  height: 208px;
  padding-left: 30px;
}
.social-icons ul {
  list-style-type: none;
}
.social-icons ul li {
  margin-bottom: 8px;
  text-align: center;
}
.social-icons ul li:first-child {
  margin-bottom: 5px;
}
.social-icons ul li .icon {
  font-size: 22px;
}
.social-icons ul li .icon:before {
  color: #000000;
}
.social-icons ul li .icon:hover:before {
  color: #3effa2 !important;
}
.social-icons ul li .icon2 {
  font-size: 13px;
  padding-bottom: 13px;
}
.social-icons ul li .icon2:before {
  color: #000000;
}
.social-icons ul li .icon2:hover:before {
  color: #3effa2 !important;
}

.background-dark .social-icons ul li .icon:before {
  color: #ffffff;
}
.background-dark .social-icons ul li .icon2:before {
  color: #ffffff;
}
.background-dark .foxy-logo .light {
  display: block;
  max-width: 105px;
}
.background-dark .foxy-logo .dark {
  display: none;
  max-width: 105px;
}
.background-dark .navbar-default .top-menu .menu span {
  background: #ffffff;
}
.background-dark .navbar-default .top-menu .menu span:nth-child(3) {
  background: #3effa2;
}
.background-dark.services-hover .navbar-default .top-menu .menu span {
  background: #000000;
}
.background-dark.services-hover .navbar-default .top-menu .menu span:nth-child(3) {
  background: #ffffff;
}
.background-dark.services-hover .foxy-logo .light {
  display: none;
}
.background-dark.services-hover .foxy-logo .dark {
  display: block;
}
.background-dark.services-hover .social-icons ul li .icon:before {
  color: #000000;
}
.background-dark.services-hover .social-icons ul li .icon2:before {
  color: #000000;
}

.background-none .foxy-logo a {
  display: none;
}

.foxy-radio {
  position: relative;
  margin: 0;
}
.foxy-radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.foxy-radio input[type="radio"] + .radio-label:before {
  content: '';
  background: #000000;
  border-radius: 100%;
  border: 1px solid #ffffff;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 3px;
  margin-right: 15px;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.foxy-radio input[type="radio"]:checked + .radio-label:before {
  background-color: #3effa2;
  box-shadow: inset 0 0 0 4px #000000;
  border-color: #3effa2;
}
.foxy-radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #3effa2;
}
.foxy-radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #ffffff;
  border-color: #bfbfbf;
  background: #bfbfbf;
}
.foxy-radio input[type="radio"] + .radio-label {
  cursor: pointer;
  margin-bottom: 0;
}
.foxy-radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}

.number {
  z-index: 14;
  position: relative;
  line-height: 100px;
  font-size: 89pt;
  font-weight: 900;
  margin: 0;
  transition: all 0.1s ease-in-out;
}

.highlight {
  transition: all 0.1s ease-out;
}

.highlight.on {
  transition: all 0.4s ease-in;
  background-color: #3effa2;
}

.heading {
  position: relative;
  z-index: 15;
  font-size: 35pt;
  line-height: 50px;
  font-weight: 800;
  transition: all 0.5s ease-in-out;
}
.heading p {
  color: #fff;
  font-weight: 800;
}

.container-small {
  width: 50%;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.49);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
}

.case-study-tag {
  position: relative;
  font-weight: 300;
  display: inline-block;
  font-size: 16px;
}

.upperline {
  position: absolute;
  top: -5px;
  left: 0;
  border: 2px solid #3effa2;
  border-radius: 7px 7px 7px 7px;
  height: 1px;
  width: 35px;
  margin-bottom: 5px;
}

.latest-tag {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 20px;
  font-size: 16px;
  font-weight: 200;
  color: #3effa2;
  right: 35%;
}
.latest-tag hr {
  margin-left: 10px;
  width: 70px;
  opacity: 1;
  border-top: 2px solid #3effa2;
}

.case-study-note {
  color: #3effa2;
  font-size: 16px;
  font-weight: 100;
  position: absolute;
  bottom: 10%;
  left: 0;
}

.view {
  transition: all 0.1s linear;
  text-align: right;
  cursor: pointer;
  width: 95%;
}
.view .icon-Submit-Arrow {
  transition: all 0.6s ease-in-out;
}

.page-services {
  background: #000000;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow: scroll;
}
.page-services .services-swiper-container {
  width: 100%;
  height: 100%;
}
.page-services .services-swiper-container .section {
  position: relative;
  overflow: visible;
  min-height: 100vh;
  border-right: 1px solid #3effa2;
  transition: all 1s linear;
}
.page-services .services-swiper-container .section .content-image {
  opacity: 0;
  z-index: 10;
  height: 100%;
  width: 70%;
  position: absolute;
  right: -18%;
  transition: opacity 1s linear;
  height: auto;
  bottom: 0;
}
.page-services .services-swiper-container .section .content-image img {
  height: auto;
  width: 100%;
  /*
  			    height: 100%;
  			    width: auto;
  */
}
.page-services .services-swiper-container .section .content {
  margin-left: 7%;
  float: none;
  transition: all 2s linear;
  width: 45%;
  margin-top: 25%;
  color: #ffffff;
}
.page-services .services-swiper-container .section p {
  font-size: 18pt;
  line-height: 30px;
  width: 75%;
  margin-top: 15px;
  transition: all 0.5s ease-in-out;
}
.page-services .services-swiper-container .section.swiper-slide-active .content-image {
  transition-delay: 1s;
  transition: opacity 1s linear;
  opacity: 1;
}
.page-services .services-swiper-container .section:hover {
  background-color: #3effa2;
}
.page-services .services-swiper-container .section:hover .text-color-primary {
  color: #000000;
}
.page-services .services-swiper-container .section:hover p {
  color: #000000;
}
.page-services .services-swiper-container .section:hover .fa {
  color: #000000;
}
.page-services .services-swiper-container .section:hover .content p, .page-services .services-swiper-container .section:hover .number, .page-services .services-swiper-container .section:hover .heading {
  transform: translate(0, -60px);
}
.page-services .services-swiper-container .swiper-slide-next .content {
  transition: all 2s linear;
  margin-right: 7%;
  transform: translateX(100%);
}
.page-services .services-swiper-container .swiper-slide-next .content .fa-arrow-right {
  display: none;
}
.page-services .services-swiper-container .swiper-slide-active .content {
  transition: all 2s ease-in-out;
  float: left;
  margin-left: 7%;
}
.page-services .services-swiper-container .swiper-slide-active .content i {
  display: none;
}

.page-aboutus {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.page-aboutus .section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background: #000000;
  height: 100vh;
}
.page-aboutus .section .content {
  width: 60%;
  color: #ffffff;
}

.page-team.dragscroll .drag-content {
  position: relative;
  padding: 0 80px;
  min-width: 100%;
}
.page-team.dragscroll .drag-content .foxy-grid-wrapper .foxy-grid-item {
  width: 24%;
  height: 400px;
}
.page-team.dragscroll .drag-content .foxy-grid-wrapper .foxy-grid-item .image {
  margin: 0 auto;
  background-size: contain;
  border: 2px solid #ffffff;
}
.page-team.dragscroll .drag-content .foxy-grid-wrapper .foxy-grid-item .image.hover {
  display: none;
}
.page-team.dragscroll .drag-content .foxy-grid-wrapper .foxy-grid-item .name {
  padding-top: 0;
}
.page-team.dragscroll .drag-content .foxy-grid-wrapper .foxy-grid-item:hover .image {
  transition: all 0.5s ease-in-out;
}
.page-team.dragscroll .drag-content .foxy-grid-wrapper .foxy-grid-item:hover .image.hover {
  display: block;
}
.page-team.dragscroll .drag-content .foxy-grid-wrapper .foxy-grid-item:hover .image.original {
  display: none;
}
.page-team.dragscroll .drag-content .foxy-grid-wrapper .foxy-grid-item:hover .name {
  transition: all 0.1s ease-in-out;
  color: #3effa2;
}

.page-clients.dragscroll .drag-content .foxy-grid-wrapper .foxy-grid-item {
  height: 300px;
}
.page-clients.dragscroll .drag-content .foxy-grid-wrapper .foxy-grid-item .image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  border: 1px solid #eee;
  overflow: hidden;
}
.page-clients.dragscroll .drag-content .foxy-grid-wrapper .foxy-grid-item .image img {
  overflow: hidden;
  max-width: 75%;
  cursor: pointer;
}
.page-clients.dragscroll .drag-content .foxy-grid-wrapper .foxy-grid-item .name {
  font-weight: 500;
  font-size: 18px;
  padding-top: 20px;
  padding-left: 15px;
}
.page-clients.dragscroll .drag-content .foxy-grid-wrapper .foxy-grid-item.odd {
  margin-top: 30px;
}
.page-clients.dragscroll .drag-content .foxy-grid-wrapper .foxy-grid-item.even {
  margin-top: -30px;
}
.page-clients.mousedown .foxy-grid-wrapper {
  transform: scale(0.95);
}

.page-home .section-title {
  pointer-events: none;
  height: 100%;
  width: 300px;
  writing-mode: vertical-lr;
  font-weight: bolder;
  opacity: 0;
  color: #fff;
  font-size: 100px;
  position: absolute;
  left: calc(50% - 150px);
  z-index: 100;
  text-transform: uppercase;
}
.page-home .section-title .left {
  text-align: center;
  transform: translate(0%, -100%);
  transition: all 4s ease-in-out;
}
.page-home .section-title .left div {
  display: inline-block;
  transform: rotate(180deg);
}
.page-home .section-title .right {
  transform: translate(0%, 100%);
  text-align: center;
  transition: all 4s ease-in-out;
}
.page-home .section-title .right div {
  transform: rotate(180deg);
  display: inline-block;
}
.page-home .section-title.active {
  opacity: 1;
}
.page-home .enter.section-title .left {
  transform: translate(0%, -42%);
}
.page-home .enter.section-title .right {
  transform: translate(0%, -10%);
}
.page-home .exit.section-title .left {
  transition: all 1s ease-in-out;
}
.page-home .exit.section-title .right {
  transition: all 1s ease-in-out;
}
.page-home .content {
  height: 96vh;
  width: 50%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s linear;
  flex-direction: column;
}
.page-home .content .home-content-slider {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  overflow: hidden;
  position: relative;
  border-radius: 15px;
}
.page-home .content .home-content-slider ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.page-home .content .home-content-slider ul li {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  margin-left: 15%;
  justify-content: center;
  flex-direction: column;
}
.page-home .content .home-content-slider ul li .content-text {
  transition: opacity 0.1s linear;
  opacity: 0;
  width: 55%;
  color: #fff;
}
.page-home .content .home-content-slider ul li .content-text h3 {
  text-transform: capitalize;
  margin: 0;
  transition: all 0.1s linear;
  font-weight: 900;
  font-size: 34px;
  color: #ffffff;
}
.page-home .content .home-content-slider ul li .content-text p {
  display: block;
  transition: all 0.5s linear;
  font-size: 18px;
  margin-bottom: 20px;
}
.page-home .content .home-content-slider ul li .content-text p:last-child {
  margin-bottom: 0;
}
.page-home .content .home-content-slider ul li.active .content-text {
  opacity: 1;
}
.page-home .content .home-content-slider ul li.active .content-text h3 {
  transform: translate(0, 10px);
}
.page-home .content .home-content-slider ul li.active .content-text p {
  transform: translate(0, 20px);
}
.page-home .content .home-content-slider ul li.active .content-text .view {
  transform: translate(0, 20px);
}
.page-home #fullpage .section {
  pointer-events: all;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .page-home #fullpage .section {
    background-position: center top;
  }
}
.page-home #fullpage .section .content {
  background: transparent;
}
.page-home #fullpage .page2 {
  background-image: url("./assets/img/ariel.jpg");
}
.page-home #fullpage .page2 .perspective_image {
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}
.page-home #fullpage .page2 .section-middle {
  right: 0px;
  bottom: 30%;
  background-image: url("./assets/img/wachingmachine.png");
  min-height: 50%;
  width: 30%;
}
.page-home #fullpage .page2 .section-middle .section-inner {
  height: 50%;
  width: 100%;
  left: 0%;
  bottom: -10%;
  background-image: url("./assets/img/arielpowder.png");
}
.page-home #fullpage .page2 .section-middle .section-inner .section-last {
  background-image: url("./assets/img/clothes.png");
  height: 50%;
  width: 100%;
  left: -2%;
  bottom: -10%;
}
.page-home #fullpage .page1 {
  background-image: url("./assets/img/universe.jpg");
}
.page-home #fullpage .page3 {
  background-image: url("./assets/img/page3.jpg");
}
.page-home #fullpage .page4 {
  background-image: url("./assets/img/page4.jpg");
}

.horizontal-scroll-wrapper {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
.horizontal-scroll-wrapper .single-block {
  position: relative;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 33%;
  cursor: pointer;
  flex: 0 0 auto;
  overflow: hidden;
}
.horizontal-scroll-wrapper .single-block .overlay {
  z-index: 0;
}

.page-news-landing {
  height: 100vh;
  color: #000000;
}
.page-news-landing .horizontal-scroll-wrapper .single-block:last-child .article-content {
  border-right: none;
}
.page-news-landing .horizontal-scroll-navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 0;
  padding-left: 15px;
  padding-right: 15px;
  display: none;
}
.page-news-landing .background-image {
  position: relative;
  background-size: cover;
  height: 100%;
  width: 100%;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.page-news-landing .image-1 {
  background-image: url("./assets/img/aeroplane.png");
}
.page-news-landing .image-2 {
  background-image: url("./assets/img/mcdonalds-reservation.png");
}
.page-news-landing .article-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  font-size: 43px;
  line-height: 43px;
  border-right: 1px solid #0c6f3f;
  flex: 1;
}
.page-news-landing .article-content .content {
  width: 60%;
  margin: 0 auto;
}
.page-news-landing .article-content p, .page-news-landing .article-content a {
  font-size: 35px;
  line-height: 43px;
  color: #fff;
  margin: 0 0;
  font-weight: 900;
  display: block;
}
.page-news-landing .article-content .article-number p {
  font-size: 72px;
  line-height: 91px;
  color: #3effa2;
}
.page-news-landing .article-content .article-number, .page-news-landing .article-content .coloured {
  color: #3effa2;
}
.page-news-landing .article-content .coloured {
  display: block;
}
.page-news-landing .article-content a:after {
  content: "\e91c";
  font-family: 'icomoon';
  font-size: 18px;
  display: block;
  text-align: right;
  line-height: 30px;
  margin-right: 44px;
  color: #3effa2;
}
.page-news-landing .article-content .arrow {
  color: #3effa2;
  text-align: right;
  font-size: 18px;
}
.page-news-landing .single-block:hover .overlay {
  opacity: 0.1;
}
.page-news-landing .single-block:hover .background-image {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.page-news-landing button.navigation {
  background-color: transparent;
  background-image: none;
  color: #fff;
  border: none;
}
.page-news-landing .single-block.no-image {
  background-color: rgba(0, 0, 0, 0.85);
}
.page-news-landing .single-block.no-image .article-title {
  position: relative;
  font-size: 44px;
  color: #3effa2;
}
.page-news-landing .single-block.no-image .article-desc {
  font-size: 18px;
  line-height: 26px;
  margin-top: 4px;
  font-weight: 600;
}
.page-news-landing .single-block.no-image .article-list {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #3effa2;
  margin-top: 18px;
}
.page-news-landing .single-block.no-image .article-list a {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #3effa2;
  margin-top: 18px;
}
.page-news-landing .single-block.no-image .article-list a span {
  border-bottom: 1px solid;
}
.page-news-landing .single-block.no-image .article-list a:after {
  content: '';
}
.page-news-landing button.navigation:focus {
  outline: none;
}

.work-landing-page .masonary_wrapper {
  width: 225%;
}
.work-landing-page .masonary_wrapper .masonary .item {
  height: 450px;
}
.work-landing-page .masonary_wrapper .masonary .item .name {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.38;
  color: #373737;
  padding: 15px 15px 0;
}
.work-landing-page .masonary_wrapper .masonary .item p {
  padding: 0 15px 15px;
  color: #a2a2a2;
}
.work-landing-page .masonary_wrapper .masonary .item .image_wrapper {
  position: relative;
}
.work-landing-page .masonary_wrapper .masonary .item .image_wrapper img {
  width: 100%;
  display: block !important;
}
.work-landing-page .masonary_wrapper .masonary .item .image_wrapper .overlay {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  height: 95%;
  width: 95%;
  position: absolute;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
}
.work-landing-page .masonary_wrapper .masonary .item .image_wrapper .overlay:hover {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
}

.page-work-inside {
  overflow: hidden;
}
.page-work-inside .page-category-name {
  margin-bottom: 100px;
  font-weight: 300;
}
.page-work-inside .section-tag {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.page-work-inside .section-tag .icon {
  font-size: 35px;
}
.page-work-inside h2 {
  position: relative;
  font-weight: 900;
}
.page-work-inside h2:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  border: 2px solid #3effa2;
  border-radius: 7px 7px 7px 7px;
  height: 1px;
  width: 35px;
  margin-bottom: 5px;
}
.page-work-inside h2 .text-color-primary {
  display: inline-block;
}
.page-work-inside table {
  width: 100%;
  margin: 20px 0;
  border: 1px solid #ccc;
}
.page-work-inside table td {
  border-right: 1px solid #ccc;
  padding: 30px 15px;
  text-align: center;
}
.page-work-inside table td:last-child {
  border-left: 0;
}
.page-work-inside .page-banner {
  /*
  		height: 400px;
  		background-size: cover;
  		background-position: center;
  */
  height: auto;
}
.page-work-inside .page-banner img {
  width: 100%;
  height: auto;
}
.page-work-inside .section {
  padding: 50px 0;
}
.page-work-inside .section.brand-description {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.page-work-inside .section.brand-description .brand-logo {
  width: 30%;
}
.page-work-inside .section.brand-description .brand-info {
  width: 70%;
}
.page-work-inside .section.brand-words {
  background: #eee;
  font-size: 35px;
  color: #ccc;
  text-align: center;
  font-weight: 700;
}
.page-work-inside .section.brand-services {
  display: flex;
  justify-content: center;
}
.page-work-inside .section.brand-services .service {
  width: 25%;
  text-align: left;
}
.page-work-inside .section.brand-services .service p {
  margin-bottom: 0;
}
.page-work-inside .section.brand-services .service .name {
  font-size: 30px;
  font-weight: 900;
}
.page-work-inside .section.brand-services .service .name .text-color-primary {
  display: inline-block;
}
.page-work-inside .section.next-previous-project {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 420px;
}
.page-work-inside .section.next-previous-project .project {
  cursor: pointer;
  position: relative;
  width: 50%;
  height: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.page-work-inside .section.next-previous-project .project:first-child {
  align-items: flex-end;
  padding-right: 25px;
}
.page-work-inside .section.next-previous-project .project:first-child .upperline {
  left: auto;
}
.page-work-inside .section.next-previous-project .project:last-child {
  padding-left: 25px;
  align-items: flex-start;
}
.page-work-inside .section.next-previous-project .project .name {
  position: relative;
  z-index: 6;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 30px;
}
.page-work-inside .section.next-previous-project .project .direction {
  position: relative;
  z-index: 6;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}
.page-work-inside .section .final-words {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.page-work-inside .section .final-words .column {
  width: 50%;
  padding: 10px 10px 10px 0;
}
.page-work-inside .section .bold-text {
  font-weight: 900;
  font-size: 20px;
}
.page-work-inside .section .small-text {
  font-size: 12px;
  color: #999;
}
.page-work-inside .calculations {
  font-size: 40px;
  font-weight: 900;
  line-height: 35px;
}
.page-work-inside .highlights-toggle {
  position: relative;
}
.page-work-inside .highlights-toggle .wrapper-highlighter {
  cursor: pointer;
  position: absolute;
  right: -152px;
  top: -50px;
  font-size: 40px;
}
.page-work-inside .highlights-toggle .wrapper-highlighter .highlighter-txt {
  font-size: 17px;
  border-bottom: 2px solid #4f4f4f;
  padding: 0 0 9px 0;
  /* margin: 0 0 21px 0; */
  margin-left: -9px;
  vertical-align: super;
  /* line-height: normal; */
}
.page-work-inside .highlights-toggle .icon.icon-Pen-1 {
  display: inline-block;
}
.page-work-inside .highlights-toggle .icon.icon-Pen-2 {
  display: none;
}
.page-work-inside .highlights-toggle.show .icon.icon-Pen-1 {
  display: none;
}
.page-work-inside .highlights-toggle.show .icon.icon-Pen-2 {
  display: inline-block;
}

.page-works {
  min-height: 100vh;
  position: relative;
}
.page-works .overlay {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  top: -200px;
}
.page-works .filter-wrapper {
  transition: all 0.1s linear;
  background: #000;
  color: #fff;
  height: 100vh;
  position: fixed;
  width: 0;
  top: 0;
  right: 0;
  z-index: 100;
}
.page-works .filter-wrapper .content {
  position: relative;
  height: 100%;
  width: 100%;
}
.page-works .filter-wrapper .content .filter-tabs {
  background: #000;
  height: 400px;
  width: 60px;
  position: absolute;
  left: -60px;
  top: 25%;
}
.page-works .filter-wrapper .content .filter-tabs .filter-tabs-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}
.page-works .filter-wrapper .content .filter-tabs ul.nav.nav-tabs {
  border-bottom: 0;
  margin: 0;
  padding: 0;
  height: 100%;
}
.page-works .filter-wrapper .content .filter-tabs ul.nav.nav-tabs li {
  height: 50%;
  border-radius: 0;
  border: 0;
  width: 100%;
  margin: 0 !important;
}
.page-works .filter-wrapper .content .filter-tabs ul.nav.nav-tabs li a {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  background: transparent;
  color: #ffffff;
  border: 0;
  margin: 0;
  height: 100%;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-works .filter-wrapper .content .filter-tabs ul.nav.nav-tabs li a:hover {
  background: transparent;
}
.page-works .filter-wrapper .content .filter-tabs ul.nav.nav-tabs li.active {
  background: #3effa2;
}
.page-works .filter-wrapper .content .filter-tabs ul.nav.nav-tabs li.active a {
  color: #000000;
  background: transparent;
}
.page-works .filter-wrapper .content .filter-tabs ul.nav.nav-tabs li:hover {
  background: #3effa2;
}
.page-works .filter-wrapper .content .filter-tabs ul.nav.nav-tabs li:hover a {
  color: #000000;
  background: transparent;
}
.page-works .filter-wrapper .content .filter-list {
  overflow: hidden;
  height: 100%;
  display: flex;
  padding-left: 25px;
  justify-content: flex-start;
  align-items: center;
}
.page-works .filter-wrapper .content .filter-list .tab-content .filters {
  display: flex;
  flex-direction: column;
}
.page-works .filter-wrapper .content .filter-list .tab-content .filters .filter-value {
  line-height: 28px;
  margin: 5px;
}
.page-works .filter-wrapper .content .filter-list .tab-content .filters .filter-value .brand-name {
  display: flex;
  align-items: center;
  font-size: 30px;
}
.page-works .filter-wrapper .content .filter-list .tab-content .filters .filter-value .brand-name input[type="radio"] {
  margin-right: 15px;
}
.page-works .filter-wrapper .content .filter-list .tab-content .filters .filter-value .brand-name .radio-label .upperline {
  top: 12px;
  right: -90px;
  left: auto;
  border-width: 1px;
  width: 80px;
}
.page-works .filter-wrapper .content .filter-list .tab-content .filters .filter-value .brand-count {
  font-weight: 400;
  font-size: 16px;
  margin-left: 30px;
}
.page-works .filter-wrapper .content .filter-list .tab-content .filters .filter-value:hover {
  color: #3effa2;
  cursor: pointer;
}
.page-works .grid {
  cursor: -webkit-grab;
  overflow: visible;
  width: 2000px;
  min-height: 100vh;
  transition: all 1s ease;
}
.page-works .grid .grid-masonary {
  position: relative;
  clear: both;
  min-height: 100%;
  min-width: 100%;
}
.page-works .grid:after {
  content: '';
  display: block;
  clear: both;
}
.page-works .item {
  position: relative;
  float: left;
  width: 500px;
  height: 400px;
  margin: 0px;
  padding: 10px;
  color: #262524;
  text-align: center;
}
.page-works .item .brand-image {
  height: 70%;
  width: 90%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.page-works .item .brand-image .brand-image-hover {
  transition: all 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.76);
  display: none;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 25px;
  font-weight: 800;
}
.page-works .item .name {
  font-weight: 800;
  text-align: left;
  width: 90%;
  margin-top: 15px;
  margin-bottom: 0;
}
.page-works .item p {
  text-align: left;
  width: 90%;
}
.page-works .item:hover .brand-image-hover {
  transition: all 1s ease;
  display: flex;
}
.page-works .item.odd {
  margin-top: 0;
}
.page-works .item > * {
  margin: 0;
  padding: 0;
}

.dragscroll {
  overflow: scroll;
  height: 100vh;
}
@media screen and (max-width: 767px) {
  .dragscroll {
    overflow: unset;
    height: 100%;
  }
}
.dragscroll .drag-content {
  position: relative;
  min-height: 100%;
  min-width: 2800px;
  cursor: -webkit-grab;
}
.dragscroll .drag-content .foxy-grid-wrapper {
  transition: all .2s ease-in-out;
  position: absolute;
  top: 0px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .dragscroll .drag-content .foxy-grid-wrapper {
    position: relative;
  }
}
.dragscroll .drag-content .foxy-grid-wrapper .foxy-grid-item {
  height: 500px;
  width: 350px;
}
.dragscroll .drag-content .foxy-grid-wrapper .foxy-grid-item .image {
  height: 90%;
  width: 90%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.dragscroll .drag-content .foxy-grid-wrapper .foxy-grid-item .name {
  font-weight: bold;
  margin-bottom: 0;
  padding-top: 15px;
  padding-left: 15px;
}
.dragscroll .drag-content .foxy-grid-wrapper .foxy-grid-item p {
  padding-left: 15px;
}
.dragscroll .drag-content .foxy-grid-wrapper .foxy-grid-item.odd {
  margin-top: 100px;
}
.dragscroll.mousedown .foxy-grid-wrapper {
  transform: scale(0.98);
}

.foxy-work .grid {
  max-width: 900px;
}

.page-news-inner {
  background-image: url("./assets/img/Background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #3effa2;
}
@media screen and (max-width: 767px) {
  .page-news-inner {
    background-position: center center;
  }
}
.page-news-inner .section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
}
.page-news-inner .section .content {
  width: 60%;
  color: #ffffff;
}
.page-news-inner .section .content a {
  color: #ffffff;
}
.page-news-inner .section .content a.coloured {
  color: #3effa2;
  border-bottom: 1px solid;
  font-weight: 600;
}

.page-career {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.page-career .section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  height: 100vh;
}
.page-career .section .content {
  margin-top: 200px;
  max-height: 80%;
  overflow: scroll;
  width: 70%;
  color: #ffffff;
}
.page-career .section .content::-webkit-scrollbar {
  display: none;
}
.page-career .section .content .content-text {
  padding-top: 20px;
  display: none;
}
.page-career .section .content .content-text.active-block {
  display: block;
  animation: moveup 0.5s ease;
}
.page-career .section .content .content-text .back-button {
  position: absolute;
  top: 15%;
}
.page-career .section .content .content-text .career_desc h4 {
  color: #FFF !important;
}
.page-career .section .content .heading {
  margin-bottom: 10px;
  position: relative;
}
.page-career .section .content .heading .upperline {
  left: 5px;
  width: 42px;
}
.page-career .section .content .career-devisions {
  max-height: 100%;
  margin-top: 20px;
  margin-bottom: 100px;
}
.page-career .section .content .career-devisions .foxy-radio {
  margin-bottom: 20px;
}
.page-career .section .content .career-devisions .foxy-radio label {
  font-size: 26px;
}
.page-career .section .content .career-devisions .foxy-radio label .count {
  font-weight: 300;
  font-size: 16px;
  padding-left: 35px;
  line-height: 8px;
  transition: opacity 0.1s ease;
}
.page-career .section .content .career-devisions .foxy-radio .career-designations {
  height: 0;
  overflow: hidden;
  list-style-type: none;
  padding-left: 30px;
}
.page-career .section .content .career-devisions .foxy-radio .career-designations li:hover {
  cursor: pointer;
  color: #3effa2;
}
.page-career .section .content .career-devisions .foxy-radio .career-designations.open {
  height: auto;
}
.page-career .section .content .career-devisions .foxy-radio input[type='radio']:checked + .radio-label {
  color: #3effa2;
}
.page-career .section .content .form-wrapper {
  margin-top: 100px;
  padding-bottom: 100px;
}
.page-career .section .content .form-wrapper .hidden-file-input {
  margin-top: 0;
}
.page-career .section .content .form-wrapper .hidden-file-input .ginput_container_fileupload {
  display: none;
}

.page-template-works-landing .footer {
  display: none;
}

.page-template-works-landing .footer {
  display: none;
}

.page-contact {
  height: 100vh;
}
.page-contact .horizontal-scroll-wrapper {
  flex-wrap: nowrap;
  height: calc(100vh - 48px);
}
.page-contact .single-block {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  flex: 0 0 auto;
  overflow: hidden;
  background-color: #000;
}
.page-contact .single-block .overlay {
  z-index: 0;
}
.page-contact .single-block-wrapper {
  padding: 20px;
  height: 100%;
  width: 33.33%;
  position: relative;
  border-right: 1px solid #0c6f3f;
  transition: width 0.4s ease-in;
}
.page-contact .single-block-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page-contact .single-block-wrapper:hover {
  width: 100%;
}
.page-contact .single-block-wrapper:hover .description {
  opacity: 1;
  -webkit-transition-property: opacity;
  /* Safari */
  -webkit-transition-duration: 0.2s;
  /* Safari */
  -webkit-transition-delay: 0.5s;
  /* Safari */
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-delay: 0.5s;
}
.page-contact .single-block-wrapper:hover .heading span:after {
  content: none;
}
.page-contact .single-block-wrapper.non-hovered .single-block .heading {
  display: none;
}
.page-contact .heading {
  position: relative;
  width: 75%;
  margin: 40vh auto 0;
}
@media screen and (max-width: 600px) {
  .page-contact .heading {
    margin: 21vh auto 0;
  }
}
.page-contact .heading p {
  font-size: 42px;
  text-align: left;
  margin: 0 auto;
  color: #3effa2;
  font-weight: 900;
}
.page-contact .heading p span {
  position: relative;
}
.page-contact .heading p span a {
  color: #3effa2;
}
.page-contact .heading span:after {
  position: absolute;
  bottom: -18px;
  content: "\e91c";
  font-family: 'icomoon';
  font-size: 18px;
  line-height: 30px;
}
.page-contact .article-content .description {
  opacity: 0;
  -webkit-transition-property: opacity;
  /* Safari */
  -webkit-transition-duration: 0.1s;
  /* Safari */
  -webkit-transition-delay: 0.1s;
  /* Safari */
  transition-property: opacity;
  transition-duration: 0.1s;
  transition-delay: 0.1s;
}
.page-contact .article-content .description a {
  color: #fff;
  font-weight: bold;
}
.page-contact .article-content .description p {
  margin: 0 auto;
  width: 75%;
  color: #fff;
  font-size: 24px;
  text-align: left;
}

.contact-footer {
  display: flex;
  width: 100%;
  background-color: #3effa2;
  justify-content: center;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  bottom: 0;
}
.contact-footer .title {
  font-size: 16px;
  font-weight: 100;
}
.contact-footer .value {
  font-size: 16px;
  font-weight: 600;
  padding-right: 15px;
  border-right: 1px solid #000;
}
.contact-footer .flex-wrapper {
  padding: 0px 15px;
  margin: 10px 0;
}
.contact-footer .flex-wrapper:last-child .value {
  border-right: none;
}

.horizontal-scroll-wrapper {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.article-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.menu-container {
  height: 0;
  background-color: #000;
  position: fixed;
  left: 0;
  right: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: height 0.25s, visibility 0.45s, opacity 0.45s;
  padding-bottom: 30px;
  padding-right: 30px;
}
.menu-container .logo-wrapper {
  display: flex;
  align-items: center;
  width: 75%;
  align-self: flex-end;
  padding: 30px 0 30px 0;
  margin-bottom: 40px;
}
.menu-container .logo-wrapper .logoimg {
  margin-right: 60px;
}
.menu-container .menu-bottom {
  display: flex;
  justify-content: flex-end;
}
.menu-container .menu-bottom p {
  flex: 1;
  text-align: right;
  font-size: 15px;
}
.menu-container .menu-bottom .email {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #3effa2;
  margin-left: 20%;
}
.menu-container .menu-bottom .email a {
  color: #3effa2;
  cursor: pointer;
}
.menu-container .menu-bottom .email:after {
  content: "";
  display: inline-flex;
  border-top: 1.5px solid #3effa2;
  width: 25%;
  margin-left: 5px;
}
.menu-container .menu-items-wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.menu-container .menu-items-wrapper .menu-items {
  flex: 1;
  padding: 0 0 0 110px;
}
.menu-container .menu-items-wrapper .menu-items ul li.menu-item.active a {
  color: #3effa2;
}
.menu-container .menu-items-wrapper .menu-items ul li.menu-item.active ul.sub-menu {
  height: auto;
  margin-bottom: 15px;
  transition: all .25s ease;
}
.menu-container .menu-items-wrapper .menu-items ul li.menu-item.active ul.sub-menu li a {
  transition: all .25s ease;
  color: #fff;
}
.menu-container .menu-items-wrapper .menu-items ul li.menu-item.active ul.sub-menu li a:after {
  content: "";
  display: inline-flex;
  border-top: 1.5px solid #3effa2;
  transition: all .25s ease;
  width: 0%;
  margin-left: 5px;
}
.menu-container .menu-items-wrapper .menu-items ul li.menu-item.active ul.sub-menu li a:hover {
  color: #3effa2;
  display: flex;
  align-items: center;
}
.menu-container .menu-items-wrapper .menu-items ul li.menu-item.active ul.sub-menu li a:hover:after {
  width: 25%;
  transition: all .25s ease;
  -webkit-animation: mymovein .25s;
  /* Safari 4.0 - 8.0 */
  animation: mymovein 0.25s;
}
.menu-container .menu-items-wrapper .menu-items ul li {
  list-style-type: none;
}
.menu-container .menu-items-wrapper .menu-items ul li ul.sub-menu {
  height: 0;
  overflow: hidden;
  transition: all .25s ease;
}
.menu-container .menu-items-wrapper .menu-items ul li ul.sub-menu li a {
  font-size: 18px;
  cursor: pointer;
  text-transform: capitalize;
}
.menu-container .menu-items-wrapper .menu-items ul li ul.sub-menu.active {
  display: block;
}
.menu-container .menu-items-wrapper .menu-items ul li a {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  text-transform: capitalize;
}
.menu-container .menu-items-wrapper .menu-news {
  flex: 2;
  color: #fff;
}
.menu-container .menu-items-wrapper .menu-news .single-menu-post {
  width: 50%;
  margin-bottom: 40px;
}
.menu-container .menu-items-wrapper .menu-news .single-menu-post h3 {
  position: relative;
  font-weight: 900;
  line-height: 32px;
  margin: 0 0 5px 0;
  color: #fff;
}
.menu-container .menu-items-wrapper .menu-news .single-menu-post .post-subheading {
  color: #3effa2;
}
.menu-container .menu-items-wrapper .menu-news .single-menu-post p {
  font-size: 18px;
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .menu-items-wrapper .menu-news .single-menu-post .arrow {
  display: block;
  text-align: right;
  padding-right: 20px;
}

.menu-container.open {
  height: 100vh;
  opacity: 1;
  transition: opacity .25s, height .35s;
  visibility: visible;
}

.shift-light .light {
  display: block;
  max-width: 105px;
}
.shift-light .dark {
  display: none;
  max-width: 105px;
}

@keyframes mymovein {
  from {
    width: 1%;
  }
  to {
    width: 20%;
  }
}
.page-pr-list {
  background-color: #000;
  height: 100vh;
  color: #fff;
}
.page-pr-list .horizontal-scroll-wrapper {
  height: 100%;
  flex-flow: column wrap;
}
.page-pr-list .horizontal-scroll-wrapper .single-block {
  background-color: #000;
  height: calc(100vh/2);
  width: 38%;
}
.page-pr-list .horizontal-scroll-wrapper .single-block .content {
  width: 80%;
  margin: 0 auto;
}
.page-pr-list .horizontal-scroll-wrapper .single-block .content .article-title p {
  font-size: 44px;
  line-height: 44px;
  color: #3effa2;
  font-weight: 900;
}
.page-pr-list .horizontal-scroll-wrapper .single-block .content .article-desc {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
}
.page-pr-list .horizontal-scroll-wrapper .single-block .content .article-list a {
  color: #3effa2;
  border-bottom: 1px solid;
}
.page-pr-list .horizontal-scroll-wrapper .single-block .content .content-inner {
  position: relative;
}
.page-pr-list .horizontal-scroll-wrapper .single-block .content .content-inner p {
  position: relative;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 0;
  color: #3effa2;
  font-weight: 600;
}
.page-pr-list .horizontal-scroll-wrapper .single-block .content .content-inner p:after {
  content: "\e91c";
  font-family: 'icomoon';
  font-size: 18px;
  display: block;
  text-align: right;
  line-height: 30px;
  margin-right: 44px;
}
.page-pr-list .horizontal-scroll-wrapper .single-block.no-image {
  height: 100vh;
  border-right: 1px solid #0c6f3f;
}

.header-wrapper .back-to-news {
  position: relative;
  top: 35px;
  width: 25px;
  height: 26px;
}
.header-wrapper .back-to-news .news-back-button {
  color: white;
}
.header-wrapper .back-to-news .upperline {
  top: 20px;
  left: 2px;
  width: 10px;
}

@media screen and (max-width: 1200px) {
  .page-news-landing .single-block {
    width: 80%;
  }

  .menu-container .menu-items-wrapper .menu-items {
    padding: 0 0 0 50px;
  }
  .menu-container .menu-items-wrapper .menu-news .single-menu-post {
    width: 80%;
  }
}
@media screen and (max-width: 1024px) {
  .dragscroll.page-team .drag-content .foxy-grid-wrapper .foxy-grid-item {
    height: 320px;
  }
  .dragscroll.page-team .drag-content .foxy-grid-wrapper .foxy-grid-item .name {
    padding-top: 0;
    font-size: 24px;
  }
  .dragscroll.page-team .drag-content .foxy-grid-wrapper .foxy-grid-item .image {
    width: 95%;
  }
}
@media screen and (max-width: 767px) {
  .foxy-radio input[type="radio"] + .radio-label:before {
    margin-right: 10px;
    width: 15px;
    height: 15px;
  }

  p {
    font-size: 14px;
  }

  .heading {
    font-size: 30pt;
    line-height: 35px;
    margin-bottom: 10px;
  }

  .page-work-inside h2 {
    font-size: 30px;
  }
  .page-work-inside .highlights-toggle .icon {
    font-size: 30px;
  }
  .page-work-inside table tr td {
    padding: 20px 15px;
    display: block;
    width: 100%;
    border-right: 0;
    border-bottom: 1px solid #ccc;
  }
  .page-work-inside table tr td:last-child {
    border-bottom: 0;
  }
  .page-work-inside .page-category-name {
    font-size: 12px;
    margin-bottom: 50px;
    text-align: right;
  }
  .page-work-inside .section-tag {
    font-size: 16px;
    line-height: 20px;
  }
  .page-work-inside .section {
    padding: 50px 25px;
  }
  .page-work-inside .section.brand-description {
    flex-direction: column;
    padding: 20px 25px;
  }
  .page-work-inside .section.brand-description .brand-logo {
    width: 100%;
  }
  .page-work-inside .section.brand-description .brand-info {
    width: 100%;
  }
  .page-work-inside .section.brand-words {
    font-size: 23px;
  }
  .page-work-inside .section.brand-services {
    padding: 30px 25px;
    flex-direction: column;
  }
  .page-work-inside .section.brand-services .service {
    margin-bottom: 10px;
  }
  .page-work-inside .section.brand-services .service .name {
    display: flex;
  }
  .page-work-inside .section.brand-services .service .name div {
    margin-left: 8px;
  }
  .page-work-inside .section.next-previous-project {
    height: 250px;
  }
  .page-work-inside .section.next-previous-project .project {
    justify-content: flex-start;
  }
  .page-work-inside .section.next-previous-project .project .name {
    font-size: 20px;
    line-height: 22px;
    text-align: right;
  }
  .page-work-inside .section.next-previous-project .project .direction {
    margin-top: 90%;
    font-size: 16px;
  }
  .page-work-inside .section .final-words {
    flex-direction: column;
  }
  .page-work-inside .section .final-words .column {
    width: 100%;
  }

  .page-career {
    padding: 5px;
  }
  .page-career .section {
    width: 100%;
  }
  .page-career .section .content {
    width: 90%;
    margin-top: 100px;
  }
  .page-career .section .content .content-text .back-button {
    top: 10%;
  }
  .page-career .section .content .career-devisions .foxy-radio label {
    font-size: 20px;
  }
  .page-career .section .content .career-devisions .foxy-radio label .count {
    font-size: 14px;
    margin-top: 5px;
    padding-left: 25px;
  }
  .page-career .section .content .career-devisions .foxy-radio .career-designations {
    font-size: 14px;
  }

  .page-works {
    margin-top: 0px;
  }
  .page-works .filter-wrapper .content .filter-tabs {
    height: 250px;
    left: -40px;
    width: 40px;
  }
  .page-works .filter-wrapper .content .filter-tabs ul.nav.nav-tabs li a {
    font-size: 14px;
  }
  .page-works .filter-wrapper .content .filter-list .tab-content .filters .filter-value .foxy-radio label {
    font-size: 16px;
  }
  .page-works .filter-wrapper .content .filter-list .tab-content .filters .filter-value .foxy-radio label .upperline {
    top: 16px;
  }
  .page-works .filter-wrapper .content .filter-list .tab-content .filters .filter-value .foxy-radio label:before {
    margin-right: 10px;
    width: 15px;
    height: 15px;
  }
  .page-works .filter-wrapper .content .filter-list .tab-content .filters .filter-value .brand-count {
    font-size: 14px;
    line-height: 14px;
  }
  .page-works .grid {
    width: 100%;
    margin-top: 0;
  }
  .page-works .grid .item {
    width: 50vw;
    height: auto;
    margin-bottom: 0px;
  }
  .page-works .grid .item .name {
    font-size: 18px;
  }
  .page-works .grid .item p {
    line-height: 15px;
    margin-top: 6px;
  }
  .page-works .grid .item .brand-image {
    margin: 0 auto;
    width: 100%;
    height: 117px;
  }
  .page-works .grid .item .brand-image .brand-image-hover {
    font-size: 12px;
  }
  .page-works .grid .item.item:nth-child(odd) {
    margin-top: 0;
  }

  .page-services .services-swiper-container {
    width: auto;
  }
  .page-services .services-swiper-container .swiper-slide {
    padding: 0 20px;
  }
  .page-services .services-swiper-container .swiper-slide .content {
    margin-top: 25%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    transform: translateX(0%);
  }
  .page-services .services-swiper-container .swiper-slide .content p {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
  }
  .page-services .services-swiper-container .swiper-slide .content .number {
    font-size: 50px;
    line-height: 50px;
  }
  .page-services .services-swiper-container .swiper-slide .content .heading {
    font-size: 28px;
    line-height: 26px;
  }
  .page-services .services-swiper-container .swiper-slide .content .fa {
    font-size: 14px;
  }
  .page-services .services-swiper-container .swiper-slide .content-image {
    width: auto;
    height: 60%;
    bottom: 0;
    left: 0;
    right: auto;
    width: 100%;
  }
  .page-services .services-swiper-container .swiper-slide .content-image img {
    width: auto;
    height: 100%;
  }
  .page-services .services-swiper-container .section:hover .content p, .page-services .services-swiper-container .section:hover .number, .page-services .services-swiper-container .section:hover .heading {
    transform: translate(0, 0);
  }

  .page-aboutus .section {
    width: 100%;
  }
  .page-aboutus .section .content {
    width: 90%;
  }

  .case-study-note {
    font-size: 14px;
    left: 10px;
    right: 10px;
  }

  .latest-tag {
    display: none;
  }

  .navbar-default .top-menu .menu {
    top: 30px;
    width: 20px;
  }
  .navbar-default .top-menu .menu-container .logo-wrapper {
    display: none;
  }
  .navbar-default .top-menu .menu-container .menu-items-wrapper {
    align-items: flex-end;
    display: block;
    margin-top: 78px;
  }
  .navbar-default .top-menu .menu-container .menu-items-wrapper .menu-items {
    padding: 0 0 0 40px;
  }
  .navbar-default .top-menu .menu-container .menu-items-wrapper .menu-news {
    display: none;
  }
  .navbar-default .top-menu .menu-container .menu-bottom {
    /*
    					flex-direction: column;
    					align-items: inherit;
    */
    position: absolute;
    right: -20px;
    bottom: 128px;
    transform: rotate(-90deg);
  }
  .navbar-default .top-menu .menu-container .menu-bottom p {
    text-align: center;
  }
  .navbar-default .top-menu .menu-container .menu-bottom p.copyright {
    display: none;
  }
  .navbar-default .top-menu .menu-container .menu-bottom .email {
    margin-left: -11%;
  }
  .navbar-default .top-menu .foxy-logo {
    padding: 25px 0 0 50px;
  }
  .navbar-default .top-menu .foxy-logo img {
    width: 100px;
  }

  .social-icons {
    display: none;
  }

  .container-small {
    width: 100%;
  }

  .page-home {
    height: 100vh;
    width: 100vw;
    position: relative;
  }
  .page-home .content {
    height: calc(100vh - 20px);
    top: 0;
    bottom: auto;
    left: 0;
    margin-left: 10px;
    margin-top: 10px;
  }
  .page-home .content .home-content-slider ul li {
    margin-left: 0;
    padding: 10px;
  }
  .page-home .content .home-content-slider ul li .content-text {
    width: 100%;
  }
  .page-home .content .home-content-slider ul li .content-text h3 {
    font-size: 30px;
    word-break: break-word;
  }
  .page-home .content .home-content-slider ul li .content-text p {
    display: none;
  }
  .page-home .section-title {
    width: 100px;
    font-size: 70px;
    left: 50%;
  }
  .page-home .section-title .left {
    display: none;
  }
  .page-home .section-title.enter .right {
    transform: translate(0%, 0%);
  }

  .page-contact .single-block-wrapper {
    width: 100%;
    flex: 0 0 auto;
  }
  .page-contact .single-block-wrapper.non-hovered .single-block .heading {
    display: none;
  }
  .page-contact .horizontal-scroll-wrapper {
    height: calc(100vh - 90px);
  }
  .page-contact .heading span:after {
    content: '';
  }
  .page-contact .heading p {
    font-size: 30px;
    line-height: 40px;
  }
  .page-contact .description {
    font-size: 18px;
    display: block;
    opacity: 1 !important;
  }
  .page-contact .contact-footer {
    flex-direction: column;
    align-items: center;
  }
  .page-contact .contact-footer .flex-wrapper {
    margin: 1px 0;
    padding: 0 0;
    width: 92%;
  }
  .page-contact .contact-footer .value {
    border-right: none;
  }

  .page-news-landing .single-block.no-image .article-title {
    font-size: 35px;
  }
  .page-news-landing .article-content {
    font-size: 22px;
    line-height: 35px;
  }
  .page-news-landing .article-content p, .page-news-landing .article-content a {
    font-size: 22px;
    line-height: 35px;
  }
  .page-news-landing .article-content .article-number {
    font-size: 45px;
    line-height: 55px;
  }

  .page-news-inner .section {
    width: 100%;
  }
  .page-news-inner .section .content {
    width: 95%;
  }
  .page-news-inner .heading {
    font-size: 24pt;
    line-height: 35px;
  }

  .dragscroll.page-clients {
    margin-top: 0px;
  }
  .dragscroll.page-clients .drag-content {
    min-width: 100%;
  }
  .dragscroll.page-clients .drag-content .foxy-grid-wrapper .foxy-grid-item {
    width: 50vw;
    height: 56vw;
    margin-top: 30px !important;
  }
  .dragscroll.page-clients .drag-content .foxy-grid-wrapper .foxy-grid-item .image {
    margin: 0 auto;
  }
  .dragscroll.page-clients .drag-content .foxy-grid-wrapper .foxy-grid-item .image img {
    max-width: 100%;
  }
  .dragscroll.page-clients .drag-content .foxy-grid-wrapper .foxy-grid-item .name {
    padding-top: 5px;
  }
  .dragscroll.page-team {
    margin-top: 0;
  }
  .dragscroll.page-team .drag-content {
    padding: 0 0;
  }
  .dragscroll.page-team .drag-content .foxy-grid-wrapper .foxy-grid-item {
    width: 50%;
    height: 220px;
  }
  .dragscroll.page-team .drag-content .foxy-grid-wrapper .foxy-grid-item .name {
    font-size: 18px;
    margin-top: 0;
  }
  .dragscroll.page-team .drag-content .foxy-grid-wrapper .foxy-grid-item p {
    font-size: 14px;
  }
  .dragscroll.page-team .drag-content .foxy-grid-wrapper .foxy-grid-item.odd {
    margin-top: 60px;
  }
  .dragscroll.page-team .drag-content .foxy-grid-wrapper .foxy-grid-item .image {
    background-size: contain;
  }
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes moveup {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.page-template-clients .foxy-logo, .single-work .foxy-logo {
  display: none;
}

.page-template-clients .shift-light, .single-work .shift-light {
  display: block;
}

.single-work .menu {
  position: fixed !important;
}

.page-template-home .social-icons, .post-type-archive-contact_us .social-icons {
  display: block;
}
@media screen and (max-width: 767px) {
  .page-template-home .social-icons, .post-type-archive-contact_us .social-icons {
    display: none;
  }
}

.page-clients .drag-content {
  position: relative;
  padding: 0 0px;
  min-width: 100%;
}
.page-clients .drag-content .foxy-grid-item {
  width: 340px !important;
}
@media screen and (max-width: 767px) {
  .page-clients .drag-content .foxy-grid-item {
    width: 50vw !important;
  }
}

.logo-item {
  display: none;
}
@media screen and (max-width: 767px) {
  .logo-item {
    display: block;
    padding: 20px 0 0 40px;
  }
}
@media screen and (max-width: 767px) {
  .logo-item li {
    margin: 10px 0;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    overflow: scroll;
    display: block;
  }
}

.menu-container .menu-items-wrapper .menu-items ul li a {
  font-size: 24px;
}
@media screen and (max-width: 320px) {
  .menu-container .menu-items-wrapper .menu-items ul li a {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
