//Base colors
$black: #000;
$white: #ffffff;
$green: #3effa2;
$text-color: #000;

@font-face {
  font-family: 'linottesemibold';
  src: url('./fonts/linotte-semibold-webfont.woff2') format('woff2'),
       url('./fonts/linotte-semibold-webfont.woff') format('woff'),
       url('./fonts/linotte-semibold-webfont.ttf') format('truetype'),
       url('./fonts/linotte-semibold-webfont.svg#linottesemibold') format('svg');
  font-weight: normal;
  font-style: normal;

}

 // Define the breakpoints
 $breakpoint-small: 600px;
 $breakpoint-med-small: 767px;
 $breakpoint-med: 1024px;
 $family: unquote("Source+Sans+Pro:200,300,300i,400,600,700,900");
 
@import url("http://fonts.googleapis.com/css?family=#{$family}");

// Setup the function in your functions or helpers files, wherever you keep these bits.
@function headings($from:1, $to:6) {
    @if $from == $to {
        @return 'h#{$from}';
    } @else {
        @return 'h#{$from},' + headings($from+1, $to);
    }
}

//@include transition(all,2s,ease-out); 
@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
    -webkit-transition: $what $time $how;
    -moz-transition:    $what $time $how;
    -ms-transition:     $what $time $how;
    -o-transition:      $what $time $how;
    transition:         $what $time $how;
}



//use@include screen(large) {width: 20%;}
@mixin screen($size, $type: max, $pixels: $breakpoint-small) {
  @if $size == 'small' {
    @media screen and ($type + -width: $breakpoint-small) {
        @content;
    }
  }
  @else if $size == 'med-small' {
    @media screen and ($type + -width: $breakpoint-med-small) {
        @content;
    }
  }
  @else if $size == 'med' {
    @media screen and ($type + -width: $breakpoint-med) {
        @content;
    }
  }
 @else if $size == 'large' {
    @media screen and ($type + -width: $breakpoint-med) {
        @content;
    }
  }
  @else if $size == 'custom' {
    @media screen and ($type + -width: $pixels + px) {
     @content;
    }
  }
  @else {
    @content;
  }
}

// Define vertical, horizontal, or both position
@mixin center($position) {
  position: absolute;
  
  @if $position == 'vertical' {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  @else if $position == 'horizontal' {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
  }
  @else if $position == 'both' {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}


//ratina images user: @include image-2x("logo2x.png", 100px, 25px);
@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    background-image: url($image);
    background-size: $width $height;
  }
}

//$start-color, $end-color, $orientation - vertical/horizontal/radial @include background-gradient(red, black, 'vertical');
@mixin background-gradient($start-color, $end-color, $orientation) { 
    background: $start-color;

    @if $orientation == 'vertical' {
      background: -webkit-linear-gradient(top, $start-color, $end-color);
      background: linear-gradient(to bottom, $start-color, $end-color);
    } @else if $orientation == 'horizontal' {
      background: -webkit-linear-gradient(left, $start-color, $end-color);
      background: linear-gradient(to right, $start-color, $end-color);
    } @else {
      background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
      background: radial-gradient(ellipse at center, $start-color, $end-color);
    }
}

//Padding mixin 
@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}
//Margin mixin @include padding(top, right, bottom, left);
@mixin margin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

// opecity @include opacity(0.8);
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}




//base styles 
body {
  font-family: 'Source Sans Pro', sans-serif;;
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
  color: $text-color;
  background: $white;
}
ul{
	padding: 0;
}
a{
	color:$black;
	&:hover{
		color:$black;
		text-decoration: none;
	}
	&:focus{
		color:$black;
		text-decoration: none;
	} 
}


#{headings(1,6)} {
  font-family: 'Source Sans Pro', sans-serif;;
  color: $black;
  a:hover{
    color: $black;
  }
}

p{
  font-weight: 300;
}
 
h1 {
  font-size: 50px;
  font-weight: 500;
}

h2 {
  font-size: 40px;
  font-weight: 500;
}

h3 {
  font-size: 32px;
  font-weight: 500;
}

h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.42;
}


h5 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

h6 {
  font-size: 18px;
  font-weight: 600;
}

.btn{
  border-radius: 0;
}