@function property-value($property, $selector: null) {
    @return $property;
}
$height: 100vh;
$colors: (
  primary: #3effa2,
  secondary:#000000,
  tertiary: #ffffff,
);
#page{
	position: relative;
}
#page-overlay{
	text-align: center;
	position: absolute;
    background: #000;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10000;
    .lds-dual-ring {
	  margin-top: 25%;
	  display: inline-block;
	  width: 64px;
	  height: 64px;
	}
	.lds-dual-ring:after {
	  content: " ";
	  display: block;
	  width: 46px;
	  height: 46px;
	  margin: 1px;
	  border-radius: 50%;
	  border: 5px solid #fff;
	  border-color: map-get($colors, primary) transparent map-get($colors, primary) transparent;
	  animation: lds-dual-ring 0.8s linear infinite;
	}
}
.gform_wrapper, .foxy-form-group{
	input,select{
		-webkit-appearance: none;
		width: 100%;
		box-shadow: none;
		background: transparent;
		border-left: 0;
		border-radius: 0;
		border-right: 0;
		border-top: 0;
		font-size: 18px;
		font-weight: 300;
		padding: 0 0 10px 10px;
		border-color: #555;
		color: map-get($colors, tertiary);
		&:focus{
	    border-color: #555;
	    box-shadow:none;
	    outline: none;
	  }
	}
	select{
	  option:disabled {
	      color: #000;
	      font-weight: bold;
	  }
	  
	}
	.form-control{
	  &:focus{
	    border-color: #555;
	    box-shadow:none;
	    outline: none;
	  }
	}
	margin-bottom:50px;
}
.gform_wrapper{
	.foxy-gravity-form{
		label.gfield_label,label{
	        display: none !important;
        }
        input,select,input.medium{
	        border-bottom: 1px solid #555;
	        width: 100%;
        }
        .input-file-style input{
	        cursor: pointer;
        }
        .input-file-style,.input-select-style{
	        position: relative;
        }
        .input-select-style:after{
	        content: 'v';
		    display: inline-block;
		    clear: both;
		    position: absolute;
		    right: 20px;
		    top: 10px;
		    color: #555;
		    font-size: 14px;
		    font-weight: 100;
        }
        .input-file-style:after{
	        content: 'v';
		    display: inline-block;
		    clear: both;
		    position: absolute;
		    right: 20px;
		    top: 10px;
		    transform: rotate(180deg);
		    color: #555;
		    font-size: 14px;
        }
        ul{
	        li{
		        margin-top: 0;
				max-width: 100% !important;
			}
        }
	}
	.gform_footer{
		input[type="image"]{
			height: 20px;
			float: right;
		}
	}
	&.gform_validation_error{
		.foxy-gravity-form{
			.validation_error{
				display: none;
			}

			li.gfield.gfield_error{
				padding: 0;
				border: 0;
				background: transparent;
				&.field_description_below{
					.gfield_description{
						padding-top: 0;
					}
				}
				
				input{
					border-left: 0;
					border-right: 0;
					border-top: 0;
				}
				.ginput_container{
					margin-top: 0;
				}
				select{
					border-left: 0;
					border-right: 0;
					border-top: 0;
					border-bottom: 1px solid #790000;
				}
				
			}

		}
	}
}
.parsley-errors-list.filled{
  color: #e40000;
  font-weight: 600;
  padding: 4px 0;
  font-size: 16px;
}
.input-file-style{
	input[type='file']{
		display: none;
	}
	//border-bottom: 1px solid #555;
	font-weight: 300;
	padding: 0 0 10px 10px;
	color: #999;
	cursor: pointer;
	height: 34px;
    .icon{
      float: right;
      padding-right: 10px;
    }
}
.btn-arrow{
  font-size: 24px;
  background: transparent;
  float: right;
  padding: 0;
}
.section:hover .light{
  display: block;
}
.back-button{
	background: transparent;
    border: 0;
    opacity: 0.5;
    &:hover{
	    opacity: 1;
    }
    .fa{
	   font-size: 24px;
	   font-weight: 100;
    }
}
.navbar-default{
	background-color: transparent;
	border: none;
	margin: 0;
	position: absolute;
	z-index: 1000;
	top: 0;
	width: 100%;
	@include padding(0,null,5px,null);
	.top-menu{
		.menu-list{
			display: none;
			width: 730px;
			@include screen(med) {width: 543px;}
			float: left;
			transition: all 2s linear;
			opacity: 0;
            li{
                float: left;
                list-style-type: none;
				padding: 14px 25px 0;
				@include screen(med-small){
					&:first-child {
						margin-top: 60px;
					}
				}
				@include screen(med-small){
					list-style-type: none;
					text-align: center;
					padding: 10px;
					width: 100%;
				}
                a{
                  text-decoration: none;
                  @include screen(med-small){
                  font-size: 150%;
                  color: map-get($colors, secondary);
                  text-decoration: none;
                  font-weight: 300;
                  width: 100%;
                    }
                }
			}
			&.open-menu {
				opacity: 1;
				display: block;
				-webkit-animation: fadeIn 1s;
				animation: fadeIn 1s;
			}
			@include screen(med-small){
			    font-family: inherit;
			    top: 0;
			    left:0;
			    z-index: 999;
			    display: none;
			    position: fixed;
			    width: 100%;
			    height: 100%;
			    background: map-get($colors, tertiary);
			    padding:0;
			    margin:0;
			    width: 100% !important;
			}
    }
		.menu{
			position: relative;
			top: 35px;
			width: 25px;
			height: 26px;
			float: left;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
			cursor: pointer;
			@include screen(med-small){z-index: 9999;}
			&.open{
				color: map-get($colors, primary);
				span{
					background: map-get($colors, primary);
					&:nth-child(1) {
						top: 8px;
						-webkit-transform: rotate(135deg);
						-moz-transform: rotate(135deg);
						-o-transform: rotate(135deg);
						transform: rotate(135deg);
					}
					&:nth-child(2) {
						opacity: 0;
						left: -60px;
					}
					&:nth-child(3) {
						top: 8px;
						width: 100%;
						-webkit-transform: rotate(-135deg);
						-moz-transform: rotate(-135deg);
						-o-transform: rotate(-135deg);
						transform: rotate(-135deg);
					}
				}
			}
			span{
		    	display: block;
				position: absolute;
				height: 4px;
				width: 100%;
				background: map-get($colors, secondary);
				border-radius: 9px;
				opacity: 1;
				left: 0;
				-webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				-o-transform: rotate(0deg);
				transform: rotate(0deg);
				-webkit-transition: .25s ease-in-out;
				-moz-transition: .25s ease-in-out;
				-o-transition: .25s ease-in-out;
				transition: .25s ease-in-out;
				&:nth-child(1) {
					top: 0px;
				}
				&:nth-child(2) {
					top: 8px;
				}
				&:nth-child(3) {
					top: 16px;
					background: map-get($colors, primary);
					width: 50%;
				}
			}
			
			.menu3{
				width: 13px;
				background-color: map-get($colors, primary);
			}
		}
		.active {
			span {
				background: #fff ;
			}
		}
		.foxy-logo{
			padding: 30px 0 0 80px;
		}
	}
}
.text-color-primary{
	color: map-get($colors, primary);
}
.text-color-secondary{
	color: map-get($colors, secondary);
}
.text-color-tertiary{
	color: map-get($colors, tertiary);
}
.dragscroll::-webkit-scrollbar,
.page-works::-webkit-scrollbar,
.page-works .grid::-webkit-scrollbar{
   display: none;
}
.foxy-logo{
	.light{
		display: none;
		max-width: 105px;
	}
	.dark{
		max-width: 105px;
	}
}
.social-icons{
	display: none;
	position: fixed;
    z-index: 1001;
    left: 0;
    bottom: 60px;
    height: 208px;
//     height: 150px;
    padding-left: 30px;
    ul{
	    list-style-type: none;
	    li{
		    margin-bottom: 8px;
		    text-align: center;
		    &:first-child{
			    margin-bottom: 5px;
		    }
		    .icon{
			    font-size: 22px;
			    &:before{
				    color: #000000;
			    }
		    }
		    .icon:hover{
			    &:before{
				    color: map-get($colors, primary) !important;
			    }
		    }
		    .icon2{
			    font-size: 13px;
			    padding-bottom: 13px;
			    &:before{
				    color: #000000;
			    }
		    }
		    .icon2:hover{
			    &:before{
				    color: map-get($colors, primary) !important;
			    }
		    }
	    }
    }
}
//for dark background
.background-dark{
	.social-icons{
		ul{
			li{
				.icon{
				    &:before{
					    color: map-get($colors, tertiary);
				    }
			    }
			    .icon2{
				    &:before{
					    color: map-get($colors, tertiary);
				    }
			    }
			}
		}
	}
	.foxy-logo{
		.light{
			display: block;
			max-width: 105px;
		}
		.dark{
			display: none;
			max-width: 105px;
		}
	}
	.navbar-default {
		.top-menu {
			.menu {
				span{
					background: map-get($colors, tertiary);
				}
				span:nth-child(3){
					background: map-get($colors, primary);
				}
			}
		}
	}
  &.services-hover{
    .navbar-default {
  		.top-menu {
  			.menu {
  				span{
  					background: map-get($colors, secondary);
  				}
  				span:nth-child(3){
  					background: map-get($colors, tertiary);
  				}
  			}
  		}
  	}
    .foxy-logo{
  		.light{
  			display: none;
  		}
  		.dark{
  			display: block;
  		}
  	}
    .social-icons{
  		ul{
  			li{
  				.icon{
  				    &:before{
  					    color: map-get($colors, secondary);
  				    }
  			    }
  				.icon2{
  				    &:before{
  					    color: map-get($colors, secondary);
  				    }
  			    }
  			}
  		}
  	}
  }
}
.background-none {
	.foxy-logo {
		a {
			display: none;
		}
	}
}
.foxy-radio {
  position: relative;
  margin: 0;
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      &:before {
        content: '';
          background: map-get($colors, secondary);
          border-radius: 100%;
          border: 1px solid map-get($colors, tertiary);
          display: inline-block;
          width: 20px;
          height: 20px;
          position: relative;
          top: 3px;
          margin-right: 15px;
          cursor: pointer;
          text-align: center;
          transition: all 250ms ease;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: map-get($colors, primary);
          box-shadow: inset 0 0 0 4px map-get($colors, secondary);
          border-color: map-get($colors, primary);
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: map-get($colors, primary);
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px map-get($colors, tertiary);
          border-color: darken(map-get($colors, tertiary), 25%);
          background: darken(map-get($colors, tertiary), 25%);
        }
      }
    }
    + .radio-label {
	    cursor: pointer;
	    margin-bottom: 0;
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}
.number{
	z-index: 14;
	position: relative;
	line-height: 100px;
	font-size: 89pt;
	font-weight: 900;
	margin: 0;
	transition: all 0.1s ease-in-out;
}
.highlight{
	transition: all 0.1s ease-out;
}
.highlight.on{
	transition: all 0.4s ease-in;
	background-color: map-get($colors, primary);
}
.heading{
	position: relative;
	z-index: 15;
	font-size: 35pt;
	line-height: 50px;
	font-weight: 800;
	transition: all 0.5s ease-in-out;
	p{
		color: #fff;
		font-weight: 800;
	}
}
.container-small{
	width: 50%;
    margin: 0 auto;
}
.overlay{
	position: absolute;
    background: rgba(0, 0, 0, 0.49);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
}
.case-study-tag{
	position: relative;
	font-weight: 300;
	display: inline-block;
	font-size: 16px;
}
.upperline{
	position: absolute;
	top: -5px;
	left: 0;
    border: 2px solid map-get($colors, primary);
    border-radius: 7px 7px 7px 7px;
    height: 1px;
    width: 35px;
    margin-bottom: 5px;
}
.latest-tag{
	display: flex;
    align-items: center;
    justify-content: flex-start;
	position: absolute;
    top: 20px;
    font-size: 16px;
    font-weight: 200;
    color:map-get($colors, primary);
    right: 35%;
    hr{
	    margin-left: 10px;
	    width: 70px;
	    opacity: 1;
	    border-top: 2px solid map-get($colors, primary);
    }
}
.case-study-note{
	color:map-get($colors, primary);
	font-size: 16px;
    font-weight: 100;
    position: absolute;
    bottom: 10%;
    left: 0;
}
.view{
	transition: all 0.1s linear;
	text-align: right;
	cursor: pointer;
	width: 95%;

	.icon-Submit-Arrow{
		transition: all 0.6s ease-in-out;
	}
	&:hover .icon-Submit-Arrow{
	}
}
.page-services{
	background: map-get($colors, secondary);
	height:100vh;
	display: flex;
    align-items: center;
    flex-direction: row;
    overflow: scroll;
    .services-swiper-container{
	    width: 100%;
		height: 100%;
		.section{
		position: relative;
		overflow:visible;
		min-height:100vh;
		border-right: 1px solid map-get($colors, primary);
		transition: all 1s linear;
		.content-image{
			opacity: 0;
			z-index: 10;
			height: 100%;
			// old width 60%
		    width: 70%;
		    position: absolute;
		    //old right -8%
		    right: -18%;
		    transition: opacity 1s linear;
		    //new added
		    height: auto;
		    bottom: 0;
		    
		    img{
			    
			    height: auto;
				width: 100%;
			    //old 
/*
			    height: 100%;
			    width: auto;
*/
		    }
		}
		.content{
			margin-left: 7%;
			float: none;
			transition: all 2s linear;
			width: 45%;
			margin-top:25%;
			color: map-get($colors, tertiary);
		}
		p{
			font-size: 18pt;
			line-height: 30px;
			width: 75%;
			margin-top: 15px;
			transition: all 0.5s ease-in-out;
		}
		&.swiper-slide-active{
			//z-index: 11;
			.content-image{
				transition-delay: 1s;
				transition: opacity 1s linear;
				opacity: 1;
			}
		}
	}
	.section:hover{
		 background-color: map-get($colors, primary);
		.text-color-primary{
			color: map-get($colors, secondary);
		}
		p{
			color: map-get($colors, secondary);
		}
	    .fa{
	      color: map-get($colors, secondary);
	    }
			.content p,.number,.heading{
		    	transform: translate(0, -60px)
			}
		}
		.swiper-slide-next{
			.content{
				transition: all 2s linear;
// 				float: right;
				margin-right: 7%;
				transform: translateX(100%);
				.fa-arrow-right{
					display: none;
				}
			}
		}
		.swiper-slide-active{
			.content{
				transition: all 2s ease-in-out;
				float: left;
				margin-left: 7%;
				i{
					display: none;
				}
			}
		}
		
    }
 }
.page-aboutus{
	background-repeat: no-repeat;
	background-size: cover;
	padding: 15px;
	height:100vh;
	display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
	.section{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50%;
		background: map-get($colors, secondary);
		height:100vh;
		.content{
			width: 60%;
			color: map-get($colors, tertiary);
		}
	}
}
.page-team{
  &.dragscroll {
    .drag-content {
	  position: relative;
      padding: 0 80px;
      min-width: 100%;
      .foxy-grid-wrapper {
        .foxy-grid-item{
          width: 24%;
          height: 400px;
          .image{
	        margin: 0 auto;
	        background-size: contain;
            border: 2px solid map-get($colors, tertiary);
            &.hover{
	            display: none;
            }
          }
          .name{
	          padding-top: 0;
          }
          &:hover{
            .image{
              transition: all 0.5s ease-in-out;
              &.hover{
	              display: block;
              }
              &.original{
	              display: none;
              }
            }
            .name{
              transition: all 0.1s ease-in-out;
              color:  map-get($colors, primary);
            }
          }
        }
      }
    }
  }
}
.page-clients{
  &.dragscroll {
    .drag-content {
      .foxy-grid-wrapper {
        .foxy-grid-item{
          height: 300px;
          .image{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80%;
            border: 1px solid #eee;
            overflow: hidden;
            img{
              overflow: hidden;
              max-width: 75%;
              cursor: pointer;
            }
          }
          .name{
            font-weight: 500;
            font-size: 18px;
            padding-top: 20px;
            padding-left: 15px;
          }
          &.odd{
            margin-top: 30px;
          }
          &.even{
            margin-top: -30px;
          }
        }
      }
    }
  }
  &.mousedown{
    .foxy-grid-wrapper{
      transform: scale(0.95);
    }
  }
}
.page-home{
	.section-title{
		pointer-events: none;
		height: 100%;
		width: 300px;
		writing-mode: vertical-lr;
		font-weight: bolder;
		opacity: 0;
		//transform: rotate(90deg);
		color: #fff;
		font-size: 100px;
		position: absolute;
		left: calc(50% - 150px);
		z-index: 100;
		text-transform: uppercase;	
		//left: 63%;	
		//width: 100vh;
		//transform-origin: left top 0;
		.left{
			text-align: center;
			transform: translate(0%,-100%);
// 			transform: translateY(-100%);
			transition: all 4s ease-in-out;

			

			//transform: translate(-40%,0);
			div{
				display: inline-block;
				transform: rotate(180deg);
			}
		}
		.right{
			transform: translate(0%,100%);
			text-align: center;
			transition: all 4s ease-in-out;
			//transform: translate(100%,0);
			div{
				transform: rotate(180deg);
				display: inline-block;
			}
		}
	}
	.section-title.active {
		opacity: 1;
	}
	.enter.section-title{
		.left{
// 			transform: translateY(15%);
			transform: translate(0%,-42%);
		}
		.right{
			transform: translate(0%,-10%);
		}
	}
	.exit.section-title{
		.left{
			transition: all 1s ease-in-out;
			//transform: translate(150%,0);
		}
		.right{
			transition: all 1s ease-in-out;
			//transform: translate(-100%,0);
		}
	}
	.content{
		height: 96vh;
		width: 50%;
		background: rgba(0, 0, 0, 0.8);
		position: fixed;
		top: 15px;
		bottom: 15px;
		left: 15px;
		right: 15px;
		z-index: 5;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.5s linear;
		flex-direction: column;
		.home-content-slider{
		    width: 100%;
		    height: 100%;
		    position: absolute;
		    top: 50%;
		    left: 0;
		    -webkit-transform: translate(0, -50%);
		    -moz-transform: translate(0, -50%);
		    -o-transform: translate(0, -50%);
		    transform: translate(0, -50%);
		    overflow: hidden;
		    position: relative;
		    border-radius: 15px;
		}
		.home-content-slider ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
		    li {
			    position: relative;
			    width: 100%;
			    height: 100%;
			    display: flex;
			    align-items: flex-start;
			    margin-left: 15%;
			    justify-content: center;
			    flex-direction: column;
			    .content-text{
		          transition: opacity 0.1s linear;
		          opacity: 0;
		          width: 55%;
		          color: #fff;
					h3{
						text-transform: capitalize;
						margin: 0;
						transition: all 0.1s linear;
						font-weight: 900;
						font-size: 34px;
						color: $white;
					}
					p{
						display: block;
						transition: all 0.5s linear;
						font-size: 18px;
						margin-bottom: 20px;
					}
					p:last-child{
						margin-bottom: 0;
					}
				}
			}
			li.active{
				.content-text{
					opacity: 1;
					h3{
						transform: translate(0, 10px);
					}
					p{
						transform: translate(0, 20px);
					}
					.view{
						transform: translate(0, 20px);
					}
				}
			}
		}
	}
	#fullpage{
		.section{
			pointer-events: all;
			background-size: cover;
			background-repeat: no-repeat;
			@media screen and (max-width: 767px){
				background-position: center top;
			}
			.content{
				background: transparent;
			}
		}
		.page2{
			background-image: url('./assets/img/ariel.jpg');
			.perspective_image{
				background-size: contain;
				background-repeat: no-repeat;
				position: absolute;
			}
			.section-middle{
				right: 0px;
				bottom: 30%;
				background-image: url('./assets/img/wachingmachine.png');
				min-height: 50%;
				width: 30%;
				.section-inner{
					height: 50%;
					width: 100%;
					left: 0%;
					bottom: -10%;
					background-image: url('./assets/img/arielpowder.png');
					.section-last{
						background-image: url('./assets/img/clothes.png');
						height: 50%;
						width: 100%;
						left: -2%;
						bottom: -10%;
					}
				}
			}
		}
		.page1{
			background-image: url('./assets/img/universe.jpg');
		}
		.page3{
			background-image: url('./assets/img/page3.jpg');
		}
		.page4{
			background-image: url('./assets/img/page4.jpg');
		}
	}
}
.horizontal-scroll-wrapper{
	    position: relative;
	    display: flex;
	    flex-wrap: nowrap;
		overflow-x: auto;
		height: 100%;
		-webkit-overflow-scrolling: touch;
			.single-block{
			position: relative;
			height: 100%;
			display: inline-flex;
			flex-direction: column;
			justify-content: center;
			width: 33%;
			cursor: pointer;
			flex: 0 0 auto;
			overflow: hidden;
				.overlay{
					z-index: 0;
				}
			}
    }
.page-news-landing{
    height: 100vh;
    color: #000000;
    .horizontal-scroll-wrapper{
		.single-block:last-child .article-content{
			border-right: none;
		}
    }
    .horizontal-scroll-navigation{
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      bottom: 10px;
      left: 0;
      padding-left: 15px;
      padding-right: 15px;
      display: none;
    }
	
	.background-image{
		position: relative;
		background-size: cover;
	    height: 100%;
	    width: 100%;
	    -moz-transition: all 0.6s;
	  -webkit-transition: all 0.6s;
	  transition: all 0.6s;
	}
	.image-1{
		background-image: url('./assets/img/aeroplane.png');
	}
	.image-2{
		background-image: url('./assets/img/mcdonalds-reservation.png');
	}
	.article-content{
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: #fff;
		font-size: 43px;
		line-height: 43px;
		border-right: 1px solid #0c6f3f;
		flex: 1;
		.content{
			width: 60%;
			margin: 0 auto;
		}
		p,a{
			font-size: 35px;
			line-height: 43px;
			color: #fff;
			margin: 0 0;
			font-weight: 900;
			display: block;
		}
		.article-number{
			p{
				font-size: 72px;
				line-height: 91px;
				color: map-get($colors, primary);
			}
		}
		.article-number,.coloured{
			color: map-get($colors, primary);
		}
		.coloured{
			display: block;
		}
		a:after{
			content: "\e91c";
		    font-family: 'icomoon';
		    font-size: 18px;
		    display: block;
		    text-align: right;
		    line-height: 30px;
		    margin-right: 44px;
			color: map-get($colors, primary);
		}
		.arrow{
			color: map-get($colors, primary);
			text-align: right;
			font-size: 18px;
		}

	}
	.single-block:hover .overlay{
	  opacity: 0.1;
	}
	.single-block:hover .background-image{
	  -moz-transform: scale(1.1);
	  -webkit-transform: scale(1.1);
	  transform: scale(1.1);
	}
	button.navigation{
		background-color: transparent;
		background-image: none;
	    color: #fff;
	    border: none;
	}
	.single-block.no-image{
		background-color: rgba(0, 0, 0, 0.85);
		.article-title{
			position: relative;
			font-size: 44px;
			color: map-get($colors, primary);
		}
		.article-desc{
			font-size: 18px;
		    line-height: 26px;
		    margin-top: 4px;
		    font-weight: 600;
		}
		.article-list{
			
			font-size: 18px;
			line-height: 24px;
			font-weight: normal;
			color: map-get($colors, primary);
			margin-top: 18px;
				a{
					font-size: 18px;
					line-height: 24px;
					font-weight: normal;
					color: map-get($colors, primary);
					margin-top: 18px;
					span{
						border-bottom: 1px solid;
					}
				}
				a:after{
					content: '';
				}
			
		}
	}
	button.navigation:focus{
		outline: none;
	}
}
.work-landing-page{
	.masonary_wrapper{
		width: 225%;
		.masonary{
			.item{
				height: 450px;
				.name{
					font-size: 32px;
					font-weight: 700;
					line-height: 1.38;
					color: #373737;
					padding: 15px 15px 0;
				}
				p{
					padding: 0 15px 15px;
					color: #a2a2a2;
				}
				.image_wrapper{
					img {
						width: 100%;
						display: block !important;
					}
					position: relative;
					.overlay{
					    font-size: 24px;
						font-weight: 600;
						color: $white;
						height: 95%;
						width: 95%;
						position: absolute;
						opacity: 0;
						display: flex;
					    align-items: center;
					    justify-content: center;
					    transition: all 1s ease;
						&:hover{
							background-color: rgba(0, 0, 0, 0.4);
							opacity: 1;
						}
					}
				}
			}
		}
	}
}
.page-work-inside{
	overflow: hidden;
	.page-category-name{
		margin-bottom: 100px;
		font-weight: 300;
	}
	.section-tag{
		display: flex;
		align-items: center;
		font-size: 20px;
		.icon{
			font-size: 35px;
		}
	}
	h2{
		position: relative;
		font-weight: 900;
		&:before{
			content: "";
			position: absolute;
		    top: -5px;
		    left: 0;
		    border: 2px solid #3effa2;
		    border-radius: 7px 7px 7px 7px;
		    height: 1px;
		    width: 35px;
		    margin-bottom: 5px;
		}
		.text-color-primary{
			display: inline-block;
		}
	}
	table{
		width: 100%;
		margin: 20px 0;
		border: 1px solid #ccc;
		td{
			border-right: 1px solid #ccc;
// 			width: 33.3%;
			padding: 30px 15px;
			text-align: center;
			&:last-child{
				border-left:0;
			}
		}
	}
	.page-banner{
/*
		height: 400px;
		background-size: cover;
		background-position: center;
*/
	height: auto;
	img{
		width: 100%;
		height: auto;
	}
	}
	.section{
		padding: 50px 0;
		&.brand-description{
			display: flex;
			align-items: flex-start;
			justify-content: center;
			.brand-logo{
				width: 30%;
			}
			.brand-info{
				width: 70%;
			}
		}
		&.brand-words{
			background: #eee;
			font-size: 35px;
		    color: #ccc;
		    text-align: center;
		    font-weight: 700;
		}
		&.brand-services{
			display: flex;
			justify-content: center;
			.service{
				width: 25%;
				text-align: left;
				p{
					margin-bottom: 0;
				}
				.name{
					font-size: 30px;
					font-weight: 900;
					.text-color-primary{
						display: inline-block;
					}
				}
			}
		}
		&.next-previous-project{
			padding: 0;
		    display: flex;
		    flex-direction: row;
			align-items: center;
			height: 420px;
			.project{
				cursor: pointer;
				position: relative;
				width: 50%;
				height: 100%;
				background-size: cover;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				&:first-child{
					align-items: flex-end;
					padding-right: 25px;
					.upperline{
// 						right: 0;
						left: auto;
					}
				}
				&:last-child{
					padding-left: 25px;
					align-items: flex-start;
				}
				.name{
					position: relative;
					z-index: 6;
					font-size: 32px;
					font-weight: 800;
					margin-bottom: 30px;
				}
				.direction{
					position: relative;
					z-index: 6;
					color: #fff;
					font-size: 30px;
					font-weight: 700;
				}
			}
		}
		.final-words{
			display: flex;
			align-items: flex-start;
			justify-content: center;
			.column{
				width: 50%;
				padding: 10px 10px 10px 0;
			}
		}
		.bold-text{
			font-weight: 900;
			font-size: 20px;
		}
		.small-text{
			font-size: 12px;
			color: #999;
		}
	}
	.calculations{
		font-size: 40px;
		font-weight: 900;
		line-height: 35px;
	}
	.highlights-toggle{
		position: relative;
		.wrapper-highlighter{
			cursor: pointer;
			position: absolute;
			right: -152px;
		    top: -50px;
		    font-size: 40px;
		    .highlighter-txt{
		        font-size: 17px;
			    border-bottom: 2px solid #4f4f4f;
			    padding: 0 0 9px 0;
			    /* margin: 0 0 21px 0; */
			    margin-left: -9px;
			    vertical-align: super;
			    /* line-height: normal; */
		    }
		}
		.icon{		
		    &.icon-Pen-1{
			    display: inline-block;
		    }

		    &.icon-Pen-2{
			    display: none;
		    }
		}

	}
	.highlights-toggle.show{
		.icon{
			&.icon-Pen-1{
			    display: none;
		    }

			&.icon-Pen-2{
			    display: inline-block;
		    }
		}
	}
}

.page-works{
// 	overflow: scroll;
	min-height: 100vh;
	position: relative;
	.overlay{
		display: none;
		background: rgba(0, 0, 0, 0.7);
		top: -200px;
	}
	.filter-wrapper{
		transition: all 0.1s linear;
		background: #000;
		color: #fff;
		height: 100vh;
		position: fixed;
		width: 0;
		top: 0;
		right: 0;
		z-index: 100;
		.content{
		  position: relative;
			height: 100%;
			width: 100%;
			.filter-tabs{
				background: #000;
			    height: 400px;
			    width: 60px;
			    position: absolute;
			    left: -60px;
			    top: 25%;
			    .filter-tabs-wrapper{
				    height: 100%;
					width: 100%;
					position: relative;
			    }
			    ul.nav.nav-tabs{
				    border-bottom: 0;
				    margin: 0;
				    padding: 0;
				    height: 100%;
				    li{
					    height: 50%;
					    border-radius: 0;
					    border: 0;
					    width: 100%;
					    margin: 0 !important;
					   a{
					        writing-mode: vertical-rl;
							transform: rotate(180deg);
						    background: transparent;
							color: map-get($colors, tertiary);
							border: 0;
							margin: 0;
							height: 100%;
						    text-align: center;
						    width: 100%;
						    display: flex;
						    align-items: center;
						    justify-content: center;
							&:hover{
							    background: transparent;
						    }
					   }
					   &.active{
						   background: map-get($colors, primary);
						    a{
							    color: map-get($colors, secondary);
								background: transparent;
						    }
					   }
					   &:hover{
						    background: map-get($colors, primary);
						    a{
							    color: map-get($colors, secondary);
								background: transparent;
						    }
					   }
				    }

			    }
			}
			.filter-list{
				overflow: hidden;
				height: 100%;
				display: flex;
				padding-left: 25px;
				justify-content: flex-start;
				align-items: center;
				.tab-content{
					.filters{
						display: flex;
						flex-direction: column;
						.filter-value{
							 line-height: 28px;
							 margin: 5px;
							.brand-name{
								display: flex;
								align-items: center;
								font-size: 30px;
								input[type="radio"] {
									margin-right: 15px;
								}
								.radio-label{
									.upperline{
										top: 12px;
									    right: -90px;
									    left: auto;
									    border-width: 1px;
									    width: 80px;
									}
								}
							}
							.brand-count{
							    font-weight: 400;
								font-size: 16px;
								margin-left: 30px;
							}
							&:hover{
								color: map-get($colors, primary);
								cursor: pointer;
							}
						}
					}
				}
			}
		}
	}
	.grid {
	cursor: -webkit-grab;
// 	margin-top: 100px;
	overflow: visible;
	width: 2000px;
	min-height: 100vh;
	transition: all 1s ease;
		.grid-masonary{
			position: relative;
			clear: both;
			min-height: 100%;
			min-width: 100%;
		}
	}
	.grid:after {
	  content: '';
	  display: block;
	  clear: both;
	}
	.item {
	  position: relative;
	  float: left;
	  width: 500px;
	  height: 400px;
	  margin: 0px;
	  padding: 10px;
	  color: #262524;
	  text-align: center;
	  .brand-image{
		  //old
// 		  height: 80%;	
		  height: 70%;
		  width: 90%;
		  background-size: cover;
		  background-repeat: no-repeat;
		  background-position: center center;
		  position: relative;
		  .brand-image-hover{
			transition: all 1s ease;
			position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    background: rgba(0, 0, 0, 0.76);
		    display: none;
		    align-items: center;
		    justify-content: center;
		    color: #fff;
		    font-size: 25px;
			font-weight: 800;
		  }
	  }
	  .name{
		  font-weight: 800;
		  text-align: left;
		  width: 90%;
		  margin-top: 15px;
		  margin-bottom: 0;
	  }
	  p{
		  text-align: left;
		  width: 90%;
	  }

	  &:hover{
		 .brand-image-hover{
			 transition: all 1s ease;
		  	display: flex;
	  	}
	  }
	  &:nth-child(odd){
// 		  margin-top: -100px;
	  }
	  &.even{
// 		  margin-top: -100px;
	  }
	  &.odd{
		  margin-top: 0;
	  }
	}
	.item > * {
	  margin: 0;
	  padding: 0;
	}
}
.dragscroll{
    overflow: scroll;
    height:100vh;
    @media screen and (max-width: 767px){
	    overflow: unset;
		height: 100%;
    }
    .drag-content{
      position: relative;
      min-height: 100%;
      min-width: 2800px;
      cursor: -webkit-grab;
      @media screen and (max-width: 767px){
	  }
      .foxy-grid-wrapper{
        transition: all .2s ease-in-out;
        position: absolute;
        top:0px;
//         top: -80px;
        display: flex;
        flex-wrap: wrap;
        @media screen and (max-width: 767px){
	        position: relative;
	    }
        .foxy-grid-item{
          height: 500px;
          width: 350px;
          .image{
            height: 90%;
            width: 90%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
          }
          .name{
            font-weight: bold;
            margin-bottom: 0;
            padding-top: 15px;
            padding-left: 15px;
          }
          p{
            padding-left: 15px;
          }
          &.odd{
            margin-top: 100px;
          }
          &.even{
//             margin-top: -100px;
          }
        }
      }
    }
    &.mousedown{
    	.foxy-grid-wrapper{
    		transform: scale(0.98);
    	}
    }
}
.foxy-work{
	.grid{
		max-width: 900px;
	}
}
.page-news-inner{
	background-image: url('./assets/img/Background2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 15px;
	height:100vh;
	display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #3effa2;
    @media screen and (max-width: 767px){
	    background-position: center center;
	}
	.section{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50%;
		background: rgba(0, 0, 0, 0.8);
		height:100vh;
		.content{
			width: 60%;
			color: map-get($colors, tertiary);
			a{
				color: map-get($colors, tertiary);
			}
			a.coloured{
				color: map-get($colors, primary);
				border-bottom: 1px solid;
				font-weight: 600;
			}
		}
	}
}
.page-career{
// 	background-image: url('./assets/img/career.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 15px;
	height:100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	.section{
			position: relative;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			width: 50%;
			background: rgba(0, 0, 0, 0.8);
			overflow: hidden;
			height:100vh;
			.content{
				&::-webkit-scrollbar {
					display: none;
				}
			margin-top: 200px;
			max-height: 80%;
			overflow: scroll;
			width: 70%;
			color: map-get($colors, tertiary);
			.content-text{
				padding-top: 20px;
				display: none;
				&.active-block{
					display: block;
					animation: moveup 0.5s ease;
				}
				.back-button{
					position: absolute;
					top: 15%;
				}
				.career_desc {
					h4 {
						color: #FFF !important;
					}
				}
			}
      .heading{
        margin-bottom: 10px;
        position: relative;
        .upperline{
          left: 5px;
          width: 42px;
        }
      }
      .career-devisions{
        max-height: 100%;
        margin-top: 20px;
        margin-bottom: 100px;
        .foxy-radio{
          margin-bottom: 20px;
          label{
            font-size: 26px;
            .count{
              font-weight: 300;
              font-size: 16px;
              padding-left: 35px;
              line-height: 8px;
              transition: opacity 0.1s ease;
            }
          }
          .career-designations{
            height: 0;
            overflow: hidden;
            list-style-type: none;
            padding-left: 30px;
            //margin-top: -15px;
            li{
              &:hover{
                cursor: pointer;
                color: map-get($colors, primary);
              }
            }
            &.open{
	            height: auto;
			}
          }
          input[type='radio']:checked {
            + .radio-label{
              color: map-get($colors, primary);
            }
          }
        }
      }
      .form-wrapper{
        margin-top: 100px;
        padding-bottom: 100px;
        .hidden-file-input{
	        margin-top: 0;
	        .ginput_container_fileupload{
		        display: none;
	        }
        }
      }
	}
	}
}
.page-template-works-landing .footer{
	display: none;
}
.page-template-works-landing{
	.footer{
		display: none;
	}
}

.page-contact{
	height: 100vh;
	.horizontal-scroll-wrapper{
		flex-wrap: nowrap;
// 		height: 100vh;
		height: calc(100vh - 48px);
	}
	.single-block{
		position: absolute;
		top: 0;
		left:0;
		height: 100%;
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		cursor: pointer;
		flex: 0 0 auto;
		overflow: hidden;
		background-color: #000;
		.overlay{
			z-index: 0;
		}

	}
	.single-block-wrapper{
		padding: 20px;
		height: 100%;
// 		padding-top: 100%;
		width: 33.33%;
		position: relative;
		border-right: 1px solid #0c6f3f;
		transition: width 0.4s ease-in;
		video{
			width: 100%;
		    height: 100%;
		    object-fit: cover;
		}
	}
	.single-block-wrapper:hover{
		width: 100%;
		.description{
// 			display: block;
			opacity: 1;
			-webkit-transition-property: opacity; /* Safari */
			-webkit-transition-duration: 0.2s; /* Safari */
			-webkit-transition-delay: 0.5s; /* Safari */
			transition-property: opacity;
			transition-duration: 0.2s;
			transition-delay: 0.5s;
		}
		.heading span:after{
			content: none;
		}
	}
	.single-block-wrapper.non-hovered .single-block .heading{
		display: none;
	}
	.heading{
		position: relative;
		width: 75%;
		margin: 40vh auto 0;
		@include screen(small){
			margin: 21vh auto 0;
		}
		p{
			font-size: 42px;
			text-align: left;
			margin: 0 auto;
			color: map-get($colors, primary);
			font-weight: 900;
			span{
				position: relative;
				a{
					color: map-get($colors, primary);
				}
			}
		}
		span:after{
			position: absolute;
			bottom: -18px;
			content: "\e91c";
		    font-family: 'icomoon';
		    font-size: 18px;
		    line-height: 30px;
		}
	}
	.article-content{
		.description{
// 			display: none;
			opacity: 0;
			-webkit-transition-property: opacity; /* Safari */
			-webkit-transition-duration: 0.1s; /* Safari */
			-webkit-transition-delay: 0.1s; /* Safari */
			transition-property: opacity;
			transition-duration: 0.1s;
			transition-delay: 0.1s;
			a{
				color: #fff;
				font-weight: bold;
			}

			p{
				margin: 0 auto;
				width: 75%;
				color: #fff;
				font-size: 24px;
				text-align: left;
			}
		}
	}
	

}
.contact-footer{
	display: flex;
	width: 100%;
	background-color: map-get($colors, primary);
	justify-content: center;
	position: sticky;
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	bottom: 0;
	.title{
		font-size: 16px;
		font-weight: 100;
	}
	.value{
		font-size: 16px;
		font-weight: 600;
		padding-right:15px;
		border-right: 1px solid #000;
	}
	.flex-wrapper{
		padding: 0px 15px;
	    margin: 10px 0;
	}
	.flex-wrapper:last-child .value{
		border-right: none;
	}
}
.horizontal-scroll-wrapper{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
	overflow-x: auto;
}
.article-content{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
// 	justify-content: center;
}
.menu-container{
	height: 0;
	background-color: #000;
	position: fixed;
	left: 0;
	right: 0;
	color: #fff;
	display: flex;
	flex-direction: column;
	opacity: 0;
	visibility: hidden;
	transition: height .25s, visibility .45s, opacity .45s ;
	padding-bottom: 30px;
	padding-right: 30px;
	.logo-wrapper{
		display: flex;
		align-items: center;
	    width: 75%;
		align-self: flex-end;
		padding: 30px 0 30px 0;
		margin-bottom: 40px;
		.logoimg{
			margin-right: 60px;
		}
	}
	.menu-bottom{
		display: flex;
		justify-content: flex-end;
		p{
			flex: 1;
			text-align: right;
			font-size: 15px
		}
		.email{
			display: flex;
			justify-content: flex-end;
			align-items: center;
			color: map-get($colors, primary);
			margin-left: 20%;
			a{
				color: map-get($colors, primary);
				cursor: pointer;
			}
			&:after{
				content: "";
			    display: inline-flex;
			    border-top: 1.5px solid #3effa2;
			    width: 25%;
			    margin-left: 5px;
			}
		}
	}
	.menu-items-wrapper{
		display: flex;
		align-items: flex-start;
		width: 100%;
		height: 100%;
		.menu-items{
			flex: 1;
			padding: 0 0 0 110px;
			ul{
				li.menu-item.active{
					a{
						color:map-get($colors, primary);
					}
					ul.sub-menu{
						height: auto;
						margin-bottom: 15px;
						transition: all .25s ease;
						li{
							a{
								transition: all .25s ease;
								color: #fff;
								&:after{
									content: "";
								    display: inline-flex;
								    border-top: 1.5px solid #3effa2;
								    transition: all .25s ease;
								    width: 0%;
								    margin-left: 5px;
								    
								}
								&:hover{
									color: map-get($colors, primary);
									display: flex;
									align-items: center;
									&:after{
										width: 25%;
									    transition: all .25s ease;
									    -webkit-animation: mymovein .25s; /* Safari 4.0 - 8.0 */
										animation: mymovein .25s ;
									    
									}
								}
							}
						}
					}
				}
				li{
					list-style-type: none;
					ul.sub-menu{
						//display: none;
						height: 0;
						overflow: hidden;
						transition: all .25s ease;
						li{
							a{
								font-size: 18px;
								cursor: pointer;
								text-transform: capitalize;
							}
						}
					}
					ul.sub-menu.active{
						display: block;
					}
					a{
						color: #fff;
						font-size: 30px;
						cursor: pointer;
						text-transform: capitalize;
					}
				}
			}
		}
		.menu-news{
			flex: 2;
			color: #fff;
			.single-menu-post{
				width: 50%;
				margin-bottom: 40px;
				h3{
					position: relative;
					font-weight: 900;
					line-height: 32px;
					margin: 0 0 5px 0;
					color: #fff;
				}
				.post-subheading{
					color: map-get($colors, primary);
				}
				p{
					font-size: 18px;
					line-height: 1.5em;
				    height: 3em;
				    overflow: hidden;
				    text-overflow: ellipsis;
				}
				.arrow{
					display: block;
					text-align: right;
					padding-right: 20px;
				}
			}
			
		}
	}
}
.menu-container.open{
	height: 100vh;
	opacity: 1;
	transition: opacity .25s, height .35s;
	visibility: visible;
}
.shift-light {
	.light{
		display: block;
		max-width: 105px;
	}
	.dark {
		display: none;
		max-width: 105px;
	}
}

@keyframes mymovein {
    from {width: 1%;}
    to {width: 20%;}
}
.page-pr-list{
	background-color: #000;
	height: 100vh;
	color: #fff;
  	.horizontal-scroll-wrapper{
	  	height: 100%;
	  	flex-flow: column wrap;
		.single-block{
			background-color: #000;
			height: calc(100vh/2);
			width: 38%;
			.content{
				width: 80%;
				margin: 0 auto;
				.article-title{
					p{
						font-size: 44px;
						line-height: 44px;
						color: map-get($colors, primary);
						font-weight: 900;
					}	
				}
				.article-desc{
					color: #fff;
					font-size: 18px;
					line-height: 24px;
				}
				.article-list{
					a{
						color: map-get($colors, primary);
						border-bottom: 1px solid ;
					}	
				}
				.content-inner{
					position: relative;
					p{
						position: relative;
						font-size: 30px;
						line-height: 35px;
						margin-bottom: 0;
						color: map-get($colors, primary);
						font-weight: 600;
					}
					p:after{
						content: "\e91c";
					    font-family: 'icomoon';
					    font-size: 18px;
					    display: block;
					    text-align: right;
					    line-height: 30px;
					    margin-right: 44px;
					}
				}
				
			}
		}
		.single-block.no-image{
			height: 100vh;
			border-right: 1px solid #0c6f3f;
		}
	}
}
.header-wrapper{
	.back-to-news{
		position: relative;
		top: 35px;
		width: 25px;
		height: 26px;
		.news-back-button{
			color: white;
		}
		.upperline{
			top: 20px;
			left: 2px;
			width: 10px;
		}
	}
}
@media screen and (max-width:1200px){
  .page-home {
    
  }
  .page-news-landing {
		.single-block{
			width: 80%;
		}
	}
	.menu-container{
		.menu-items-wrapper{
			.menu-items{
				padding: 0 0 0 50px;
			}
			.menu-news{
				.single-menu-post{
					width: 80%;
				}
			}
		}	
	}
}
@media screen and (max-width:1024px){
  .dragscroll {
		&.page-team{
			.drag-content {
				.foxy-grid-wrapper {
					.foxy-grid-item {
						height: 320px;
						.name{
							padding-top: 0;
							font-size: 24px;
						}
						.image{
							width: 95%;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width:767px){
	.foxy-radio{
		input[type="radio"]{
			+ .radio-label{
				&:before{
					margin-right: 10px;
					width: 15px;
					height: 15px;
				}
			}
		}
	}
	p{
		font-size: 14px;
	}
	.heading{
		font-size: 30pt;
		line-height: 35px;
		 margin-bottom: 10px;
	}
	.page-work-inside{
		h2{
			font-size: 30px;
		}
		.highlights-toggle{
			.icon{
				font-size: 30px;
			}
		}
		table{
			tr{
				td{
					padding: 20px 15px;
					display: block;
					width: 100%;
					border-right:0;
					border-bottom: 1px solid #ccc;
					&:last-child{
						border-bottom: 0;
					}
				}
			}
			
		}
		.page-category-name{
			font-size: 12px;
			margin-bottom: 50px;
			text-align: right;
		}
		.section-tag{
			font-size: 16px;
			line-height: 20px;
		}
		.section{
			padding: 50px 25px;
			&.brand-description{
				flex-direction: column;
				padding: 20px 25px;
				.brand-logo{
					width: 100%;
				}
				.brand-info{
					width: 100%;
				}
			}
			&.brand-words{
				font-size: 23px;
			}
			&.brand-services{
				padding: 30px 25px;
				flex-direction: column;
				.service{
					margin-bottom: 10px;
					.name{
						display: flex;
						div{
							margin-left: 8px;
						}
					}
				}
			}
			&.next-previous-project{
				height: 250px;
				.project{
					justify-content: flex-start;
					.name{
						font-size: 20px;
						line-height: 22px;
						text-align: right;
					}
					.direction{
						margin-top: 90%;
						font-size: 16px;
						
					}
				}
			}
			& .final-words{
				flex-direction: column;
				.column{
					width: 100%;
				}
			}
		}
	}
	.page-career{
		padding: 5px;
		.section{
			width: 100%;
			.content{
				width: 90%;
				margin-top: 100px;
				.content-text{
					.back-button{
						top: 10%;
					}
				}
				.career-devisions{
					.foxy-radio{
						label{
							font-size: 20px;
							.count{
								font-size: 14px;
								margin-top: 5px;
								padding-left: 25px;
							}
						}
						& .career-designations{
							font-size: 14px;
						}
					}
				}
			}
		}
	}
	.page-works{
		margin-top: 0px;
		.filter-wrapper {
			.content {
				.filter-tabs{
					height: 250px;
					left: -40px;
					width: 40px;
					ul.nav.nav-tabs {
						li{
							a{
								font-size: 14px;
							}
						}
					}
				}
				.filter-list{
					.tab-content{
						.filters{
							.filter-value{
								.foxy-radio{
									label{
										font-size: 16px;
										.upperline{
											top: 16px;
										}
										&:before{
											margin-right: 10px;
											width: 15px;
											height: 15px;
										}
									}
								}
								.brand-count{
									font-size: 14px;
									line-height: 14px;
								}
							}
						}
					}
				}
			}
		}
		.grid{
			width: 100%;
			margin-top: 0;
			.item{
				width: 50vw;
				height: auto;
				margin-bottom: 0px;
				.name{
					font-size: 18px;
				}
				p{
					line-height: 15px;
					margin-top: 6px;
				}
				.brand-image{
					margin: 0 auto;
					width: 100%;
					height: 117px;
					.brand-image-hover{
						font-size: 12px;
					}
				}
				&.item:nth-child(odd){
					margin-top: 0;
				}
			}
		}
	}
	.page-services{
		.services-swiper-container {
			width: auto;
			.swiper-slide{
				padding: 0 20px;
				.content{
					margin-top: 25%;
					width: 100%;
					margin-left: 0;
					margin-right: 0;
					transform: translateX(0%);
					p{
						font-size: 14px;
						line-height: 16px;
						margin: 0;
					}
					.number{
						font-size: 50px;
					    line-height: 50px
					}
					.heading{
						font-size: 28px;
						line-height: 26px;
					}
					.fa{
						font-size: 14px;
					}
				}
				.content-image{
					width: auto;
					height: 60%;
					bottom: 0;
					left: 0;
					right: auto;
					width: 100%;
					img{
						width: auto;
						height: 100%;
					}
				}
			}
			.section:hover{
				.content p,.number,.heading{
			    	transform: translate(0, 0);
				}
			}
		}
		
		
	}
	.page-aboutus{
		.section{
			width: 100%;
			.content{
				width: 90%;
			}
		}
	}
	.case-study-note{
		font-size: 14px;
		left: 10px;
		right: 10px;
	}
	.latest-tag{
		display: none;
	}
	.navbar-default{
		.top-menu {
			.menu{
				top: 30px;
				width: 20px;
			}
			.menu-container{
				.logo-wrapper{
					display: none;	
				}
				.menu-items-wrapper{
					align-items: flex-end;
					display: block;
					margin-top: 78px;
// 					align-items: center;
					.menu-items{
						padding: 0 0 0 40px;
// 						padding: 0 0 0 55px;	
					}
					.menu-news{
						display: none;
					}
				}
				.menu-bottom{
/*
					flex-direction: column;
					align-items: inherit;
*/
					    position: absolute;
					    right: -20px;
					    bottom: 128px;
					    transform: rotate(-90deg);
					p{
						text-align: center;	
						&.copyright{
							display: none;
						}
					}
					.email{
						margin-left: -11%;
					}
				}
			}
			.foxy-logo{
				padding: 25px 0 0 50px;
				img{
				 width: 100px;
				}
			}
		}
	}
	.social-icons{
		display: none;
	}
	.container-small{
		width: 100%;
	}
	.page-home{
		height: 100vh;
		width: 100vw;
		position: relative;
		.content {
			height: calc(100vh - 20px);
			top: 0;
		    bottom: auto;
		    left: 0;
		    margin-left: 10px;
		    margin-top: 10px;
			.home-content-slider{
				ul{
					li{
						margin-left: 0;
						padding: 10px;
						.content-text{
							width: 100%;
							h3{
								font-size: 30px;
								word-break: break-word;
							}
							p{
								display: none;
							}
						}
					}
				}
			}
		}
		.section-title{
			width: 100px;
			font-size: 70px;
			left: 50%;
			.left{
				display: none;
			}
			&.enter{
				.right{
					transform: translate(0%, 0%);
				}
			}
		}
	}
	.page-contact {
		.single-block-wrapper{
			//old 80%
			width: 100%;
			flex: 0 0 auto;
		}
		.single-block-wrapper.non-hovered .single-block .heading{
			display: none;
		}
		.horizontal-scroll-wrapper{
			height: calc(100vh - 90px);
		}
		
		.heading {
			span:after{
				content: '';
			}
			p{
				font-size: 30px;
				line-height: 40px;
			}
		}
		.description{
			font-size: 18px;
			display: block;
			//added new
			opacity: 1 !important;
		}
		.contact-footer{
			flex-direction: column;	
			align-items: center;
			.flex-wrapper{
				margin: 1px 0;
				padding: 0 0;
// 				width: 80%;
				width: 92%;
			}
			.value{
				border-right: none;
			}
		}
	}
	.page-news-landing {
		.single-block.no-image {
			.article-title{
				font-size: 35px;
			}
		}
		.article-content{
			font-size: 22px;
			line-height: 35px;
			p,a{
				font-size: 22px;
				line-height: 35px;
			}
			.article-number{
				font-size: 45px;
				line-height: 55px;
			}
		}
	}
	.page-news-inner {
		.section{
			width: 100%;
			.content{
				width: 95%;
			}
		}
		.heading{
			font-size: 24pt;
			line-height: 35px;
		}
	}
	.dragscroll {
		&.page-clients{
			margin-top: 0px;
			.drag-content{
				min-width: 100%;
				.foxy-grid-wrapper {
					.foxy-grid-item{
						width: 50vw;
						height: 56vw;
						margin-top: 30px !important;
						.image{
							margin: 0 auto;
							img{
								max-width: 100%;
							}
						}
						.name{
							padding-top: 5px;
						}
					}
				}
			}
		}
		&.page-team{
			 margin-top: 0;
			.drag-content {
				 padding: 0 0;
				.foxy-grid-wrapper {
					.foxy-grid-item {
						width: 50%;
						height: 220px;
						.name{
							font-size: 18px;
							margin-top: 0;
						}
						p{
							font-size: 14px;
						}
						&.odd{
							margin-top: 60px;
						}
						.image{
							background-size: contain;
						}
					}
				}
			}
		}
	}
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveup {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.page-template-clients .foxy-logo, .single-work .foxy-logo{
	display: none;
}
.page-template-clients .shift-light, .single-work .shift-light {
	display: block;
}
.single-work .menu{
	position: fixed !important;
}
.page-template-contact-us .menu{
	//display: none;
}
.page-template-home .social-icons, .post-type-archive-contact_us .social-icons{
	display: block;
	@media screen and (max-width: 767px){
		display: none;
	}
}

.page-clients {
	.drag-content{
	position: relative;
    padding: 0 0px;
    min-width: 100%;
    .foxy-grid-item{
	    width: 340px !important;
		@media screen and (max-width: 767px){
	   	 width: 50vw !important;
		}
    }
	}
}


.logo-item{
	display: none;
	@media screen and (max-width: 767px){
		display: block;
		padding: 20px 0 0 40px;
	}
	li{
		@media screen and (max-width: 767px){
			margin: 10px 0;
		}
	}
}
.menu-container{
	@media screen and (max-width: 767px){
		overflow: scroll;
		display: block;
	}
}
.menu-container .menu-items-wrapper .menu-items ul li a{
	font-size: 24px;
	@media screen and (max-width: 320px){
		font-size: 20px;
	}
}