/*
Errno::ENOENT: No such file or directory @ rb_sysopen - style.scss

Backtrace:
/usr/local/rvm/scripts/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:454:in `read'
/usr/local/rvm/scripts/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:454:in `update_stylesheet'
/usr/local/rvm/scripts/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/rvm/scripts/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/rvm/scripts/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/rvm/scripts/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:294:in `watch'
/usr/local/rvm/scripts/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/plugin.rb:109:in `method_missing'
/usr/local/rvm/scripts/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/usr/local/rvm/scripts/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:51:in `process_result'
/usr/local/rvm/scripts/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/exec/base.rb:52:in `parse'
/usr/local/rvm/scripts/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/rvm/scripts/gems/ruby-2.4.1/gems/sass-3.5.5/bin/sass:13:in `<top (required)>'
/usr/local/rvm/scripts/gems/ruby-2.4.1/bin/sass:23:in `load'
/usr/local/rvm/scripts/gems/ruby-2.4.1/bin/sass:23:in `<main>'
/usr/local/rvm/scripts/gems/ruby-2.4.1/bin/ruby_executable_hooks:15:in `eval'
/usr/local/rvm/scripts/gems/ruby-2.4.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - style.scss"; }
