@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?oyb18a');
  src:  url('../fonts/icomoon/icomoon.eot?oyb18a#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?oyb18a') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?oyb18a') format('woff'),
    url('../fonts/icomoon/icomoon.svg?oyb18a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Awwwards:before {
  content: "\e900";
  color: #3effa2;
}
.icon-Bullet-Point-Fill:before {
  content: "\e901";
  color: #3effa2;
}
.icon-Bullet-Point-Without-Fill:before {
  content: "\e902";
  color: #fff;
}
.icon-Grey-Dribbble:before {
  content: "\e903";
  color: #bdbdbd;
}
.icon-Grey-Facebook:before {
  content: "\e904";
  color: #bdbdbd;
}
.icon-Grey-Google-Plus:before {
  content: "\e905";
  color: #bdbdbd;
}
.icon-Grey-Twitter:before {
  content: "\e906";
  color: #bdbdbd;
}
.icon-Line:before {
  content: "\e907";
  color: #3effa2;
}
.icon-Menu-Black-n-Green .path1:before {
  content: "\e908";
  color: rgb(62, 255, 162);
}
.icon-Menu-Black-n-Green .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Menu-Black-n-Green .path3:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Menu-Black-n-White .path1:before {
  content: "\e90b";
  color: rgb(255, 255, 255);
}
.icon-Menu-Black-n-White .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Menu-Black-n-White .path3:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Menu-White-n-Green .path1:before {
  content: "\e90e";
  color: rgb(62, 255, 162);
}
.icon-Menu-White-n-Green .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Menu-White-n-Green .path3:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Pen-1:before {
  content: "\e911";
}
.icon-Pen-2 .path1:before {
  content: "\e912";
  color: rgb(226, 226, 226);
}
.icon-Pen-2 .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(62, 255, 162);
}
.icon-Pen-2 .path3:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(226, 226, 226);
}
.icon-Pen-2 .path4:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(62, 255, 162);
}
.icon-Pen-2 .path5:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Pen-2 .path6:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Pen-2 .path7:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Pen-2 .path8:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Pen-2 .path9:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Pen-2 .path10:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Submit-Arrow:before {
  content: "\e91c";
  color: #3effa2;
}

@font-face {
  font-family: 'icomoon-social';
  src:  url('../fonts/icomoon/icomoon-social.eot?g0asdu');
  src:  url('../fonts/icomoon/icomoon-social.eot?g0asdu#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon-social.ttf?g0asdu') format('truetype'),
    url('../fonts/icomoon/icomoon-social.woff?g0asdu') format('woff'),
    url('../fonts/icomoon/icomoon-social.svg?g0asdu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="iconn-"], [class*=" iconn-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon-social' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconn-instapage:before {
  content: "\e900";
}
.iconn-linkedin:before {
  content: "\e901";
}
.iconn-youtube:before {
  content: "\e902";
}


